// form
input[type=text],
input[type=number],
input[type=email],
input[type=password],
textarea,
select {
	.rin;
	.transition(0.2s);
	position: relative;
	border: 1px solid @input-border;
	font-size: @input-size;
	width: 100%;
	height: @input-height;
	padding: 0 @input-padding;
	color: @c1;
	background: @input-bg;
	outline: 0;
	max-width: 100%;
	&:hover,&:focus{
		border-color: darken(@input-border,30%);
	}
	&:focus{
		&::-webkit-input-placeholder {
			color: transparent;
		}
		&:-moz-placeholder {
			color: transparent;
		}
		&::-moz-placeholder {
			color: transparent;
		}
	}
	&::-webkit-input-placeholder {
		color: lighten(@c1,0);
	}
	&:-moz-placeholder {
		color: lighten(@c1,0);
	}
	&::-moz-placeholder {
		color: lighten(@c1,0);
	}
}
textarea{
	padding: @input-padding;
	height: auto;
}
select[multiple] {
	width: auto;
	height: auto;
	padding: @input-padding;
}
input[type=number] {
	padding-right: 0;
}
input[type=submit],
input[type=button],
button {
	.btn;
}
input.input-mini{
	width: @input-height;
	padding-left:0;
	padding-right:0;
	text-align:center;
}
input[type=number].input-mini {
	width: @input-height+20;
}
input.input-small{
	width: 50%;
}
input.input-large{
	width: 100%;
}

// select box
.select_wrap {
	position: relative;
	display: block;
	background: @input-bg;
	&:before {
		content: '';
		position: absolute;
		z-index: 1;
		top: 50%;
		right: 10px;
		margin: -3px 0 0;
		border: 6px solid transparent;
		border-top-color: @input-border;
	}
	&:after {
		content: '';
		position: absolute;
		top: 1px;
		right: 1px;
		bottom: 1px;
		width: @input-height;
		background: @input-bg;
	}
	select {
		-moz-appearance: none;
		-webkit-appearance:none;
		background: none;
	}
	select::-ms-expand {
		display: none;
	}

}

// checkbox, radio
.checkbox_wrap {
	position: relative;
	overflow: hidden;
	display: inline-block;
	vertical-align: bottom;
	.checkbox_btn {
		position: relative;
		font-size: @fsp*1.2;
		line-height: 1;
		margin: 0 2px 0 0;
		color: darken(@input-border,20);
		&:before {
			.fi;
		}
	}
	input[type="checkbox"] + .checkbox_btn {
		&:before {
			content: @icon-android-checkbox-outline-blank;
		}
	}
	input[type="checkbox"]:checked + .checkbox_btn {
		&:before {
			color: @c2;
			content: @icon-android-checkbox-outline;
		}
	}
	input[type="radio"] + .checkbox_btn {
		&:before {
			content: @icon-android-radio-button-off;
		}
	}
	input[type="radio"]:checked + .checkbox_btn {
		&:before {
			content: @icon-android-radio-button-on;
		}
	}

	input:disabled + .checkbox_btn {
		color: lighten(@input-border,0);
	}
	input {
		position: absolute;
		z-index: 1;
		top: -20px;
		left: -20px;
		margin: 0;
		padding: 0;
		width: 60px;
		height: 60px;
		-webkit-opacity: 0;
		-moz-opacity: 0;
		opacity: 0;
		filter:alpha(opacity=0);
	}
}