body {
	padding: 15px 0 0;
	background: #fff url(../images/bg/01.png) repeat-x top;
}
#page-header { 
	position: relative;
	z-index: 101;
}
#col-bottom {
	position: relative;
	z-index: 1;
	background: #bddfff;
	overflow: hidden;
	@media @sm, @xs, @xxs {
		.menu-on & {
			display: none;
		}
	}
	&:before {
		content: '';
		position: absolute;
		z-index: 3;
		top: 0;
		left: 0;
		right: 0;
		height: 5px;
		background: -moz-linear-gradient(top,  rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
		background: -webkit-linear-gradient(top,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%);
		background: linear-gradient(to bottom,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%);
	}
}
#page-footer {
	padding: 18px 0 18px;
	background: url(../images/bg/02.png) repeat-x top;
	background-size: auto 100%;
	@media @sm, @xs, @xxs {
		.menu-on & {
			display: none;
		}
	}
}
#wrapper {
	position: relative;
	padding: 90px 0;
	background: url(../images/bg/03.png) repeat-x top;
	@media @sm, @xs, @xxs {
		.menu-on & {
			display: none;
		}
	}
	&:before {
		content: '';
		position: absolute;
		z-index: 3;
		top: 0;
		left: 0;
		right: 0;
		height: 5px;
		background: -moz-linear-gradient(top,  rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
		background: -webkit-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%);
		background: linear-gradient(to bottom,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%);
	}
}
#col-main {
	@media @lg {
		float: right;
		width: 835px;
	}
}
#col-left {
	@media @lg {
		float: left;
		width: 245px;
	}
}
.toggle_menu {
	.border-radius(50%);
	float: right;
	display: block;
	margin: auto;
	display: none;
	width: 50px;
	height: 50px;
	padding: 0;
	font-weight: normal;
	line-height: 48px;
	font-size: 30px;
	margin: 20px 0 0;
	@media @sm, @xs, @xxs {
		display: block;
	}
	&:before {
		.fi;
		content: @icon-navicon-round;
		.menu-on & {
			content: @icon-close-round;
		}
	}
}
.mod_menu-main { 
	@media @lg, @md {
		position: relative;
		z-index: 1;
		border-bottom: 1px solid @c2;
		.container {
			padding: 0 10px;
			&>ul { 
				.rlist;
				display: table;
				width: 100%;
				@media @md {
					display: block;
					width: auto;
					padding: 20px 0;
				}
				&>li { 
					.fh;
					display: table-cell;
					vertical-align: middle;
					text-align: center;
					font-size: 16px;
					line-height: 1.2;
					padding: 22px 10px 19px;
					@media @md {
						display: inline-block;
						padding: 5px 20px;
					}
					&:before {
						.rotate(25deg);
						top: 50%;
						left: -1px;
						width: 1px;
						height: 14px;
						margin: -6px 0 0;
						background: @c1;
					}
					&:first-child {
						&:before {
							display: none;
						}
					}
					&>a { 
						text-transform: uppercase;
						text-decoration: none;
						color: #000;
						&:hover{
							color: @c5;
						}
					}
					&.act {
						&>a {
							font-weight: 600;
							color: @c5;
						}
						@media @lg {
							&:after {
								content: '';
								position: absolute;
								top: 0;
								left: 10px;
								right: 10px;
								height: 7px;
								background: @c5;
							}
						}
					}
				}
			}
		}
	}
	@media @sm ,@xs, @xxs {
		display: none;
		.menu-on & {
			display: block;
		}
		ul {
			.rlist;
			margin: 20px -20px;
			li {
				a {
					.fh;
					display: block;
					font-size: 23px;
					line-height: 1.2;
					padding: 10px 20px;
					text-decoration: none;
					text-transform: uppercase;
					color: #fff;
					margin: 0 0 1px;
					background: @c2;
				}
				&.act {
					a {
						background: @c5;
					}
				}
			}
		}
	}
}
.header_logo { 
	position: relative;
	float: left;
	width: 360px;
	margin: 0 auto -20px;
	padding: 0;
	border: none;
	height: 146px;
	background: #fff;
	@media @sm {
		height: auto;
		background: none;
		margin: -80px 0 20px;
	}
	@media @xs, @xxs {
		float: none;
		width: 320px;
		height: auto;
		margin: 0 auto 20px;
		background: none;
	}
	@media @xxs {
		width: auto;
	}
	@media @sm, @xs, @xxs {
		.menu-on & {
			display: none;
		}
	}
	&:before {
		@media @lg, @md {
			.box-shadow(3px 3px 0 fade(#000,20));
			-ms-transform: skewX(-30deg);
			-webkit-transform: skewX(-30deg);
			transform: skewX(-30deg);
			content: '';
			position: absolute;
			top: -3px;
			right: -44px;
			width: 999em;
			bottom: 0;
			background: #fff;
		}
	}
	a { 
		display: block;
		position: relative;
		padding: 73px 0 10px 147px;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 16px;
		color: #000;
		letter-spacing: 0.01em;
		line-height: 1.2;
		@media @sm, @xs {
			padding: 40px 0 10px 100px;
		}
		@media @xxs {
			padding: 120px 0 0;
			text-align: center;
		}
		mark { 
			position: absolute;
			font-size: 0;
			bottom: -8px;
			left: 0;
			width: 122px;
			height: 122px;
			background: url(../images/logo/01.svg) no-repeat bottom left;
			@media @sm, @xs, @xxs {
				width: 80px;
				height: 80px;
			}
			@media @xxs {
				bottom: auto;
				top: 20px;
				left: 50%;
				margin: 0 0 0 -40px;
			}
		}
		strong { 
			font-size: 20px;
			display: block;
		}
	}
}
.mod_custom-contact {
	.fh; 
	float: left;
	width: 520px;
	padding: 0 0 0 95px;
	margin: 25px 0 10px;
	font-size: 16px;
	@media @md {
		width: 320px;
		margin-top: 15px;
	}
	@media @sm {
		width: 60%;
		padding: 0;
		margin: 0 0 10px;
	}
	@media @xs, @xxs {
		display: none;
		.menu-on & {
			display: block;
		}
	}
	@media @sm, @xs, @xxs {
		.menu-on & {
			display: none;
		}
	}
	.mod-title { 
		display: inline-block;
		vertical-align: bottom;
		margin: 0 10px 0 0;
	}
	.mod-phone { 
		display: inline-block;
		vertical-align: bottom;
		color: @c3;
		margin: 0 10px 0 0;
		&:before {
			.fi;
			display: inline-block;
			content: @icon-iphone;
			font-weight: normal;
			line-height: 0;
			margin: 0 8px 0 0;
			@media @lg {
				font-size: 30px;
			}
		}
		mark { 
			display: inline-block;
			line-height: 0;
			font-weight: 600;
			@media @lg {
				font-size: 23px;
			}
		}
	}
	.mod-email { 
		display: inline-block;
		vertical-align: bottom;
		a { 
		}
	}
	a {
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
	}
}
.mod_search { 
	float: left;
	width: 520px;
	padding: 0 50px 0 95px;
	margin: 0 auto 10px;
	@media @md {
		width: 560px;
	}
	@media @sm, @xs, @xxs {
		float: none;
		display: none;
		width: 200px;
		padding: 0;
		.menu-on & {
			display: block;
		}
	}
	form { 
		div { 
			input { 
				.border-radius(3px);
				float: left;
				margin: 0 -50px 0 0;
				border-color: transparent;
				background: #e0f0ff;
				&:hover, &:focus {
					border-color: @c2;
				}
			}
			button { 
				position: relative;
				left: 50px;
				padding: 0;
				width: 50px;
				font-size: 0;
				background: none;
				color: @c3;
				&:hover{
					color: @c2;
				}
				&:before {
					.fi;
					content: @icon-android-search;
					font-size: 36px;
				}
			}
		}
	}
}
.mod_custom-basket {
	.fh; 
	float: left;
	width: 240px;
	padding: 15px 0 0 65px;
	float: right;
	@media @lg {
		padding-top: 35px;
	}
	@media @sm {
		width: 40%;
		padding-top: 35px;
		margin: 0 0 15px;
	}
	@media @xs, @xxs {
		float: none;
		margin: 0 auto 20px;
	}
	@media @sm, @xs, @xxs {
		.menu-on & {
			display: none;
		}
	}
	a { 
		position: relative;
		display: block;
		padding: 0 55px 0 0;
		text-decoration: none;
		color: @c3;
		&:hover{
			color: @c2;
			&:before {
				border-color: @c2;
			}
		}
		&:before {
			.border-radius(50%);
			.fi;
			content: @icon-android-cart;
			position: absolute;
			top: 50%;
			right: 0;
			width: 50px;
			height: 50px;
			font-size: 30px;
			font-weight: normal;
			line-height: 48px;
			margin: -25px 0 0;
			text-align: center;
			border: 1px solid @c3;
		}
		.mod-title { 
			margin: 0 0 3px;
			line-height: 1.2;
		}
		.mod-price { 
			display: block;
			font-size: 29px;
			line-height: 1;
		}
		.mod-count {
			.border-radius(8px);
			.fp;
			position: absolute;
			top: 50%;
			right: 0;
			height: 15px;
			font-weight: bold;
			line-height: 15px;
			padding: 0 4px;
			font-size: 12px;
			color: #fff;
			margin: 10px 0 0;
			background: @c5;
		}
	}
}
.mod_articles_category-slideshow { 
	margin: 0 0 70px;
	@media @sm, @xs, @xxs {
		.menu-on & {
			display: none;
		}
	}
	.mod-items { 
		position: relative;
		&:before {
			content: '';
			position: absolute;
			z-index: 101;
			bottom: 0;
			left: 0;
			right: 0;
			height: 20px;
			background: fade(#fff,50);
		}
		.mod-item { 
			figure { 
				img { 
					display: block;
				}
			}
			.item-content { 
				display: none;
				.mod-title { 
				}
				.mod-content { 
					p { 
					}
				}
			}
		}
	}
	.pager {
		position: relative;
		z-index: 101;
		background: #eff7ff;
		background: -moz-linear-gradient(top,  #eff7ff 0%, #e0f0ff 100%);
		background: -webkit-linear-gradient(top,  #eff7ff 0%,#e0f0ff 100%);
		background: linear-gradient(to bottom,  #eff7ff 0%,#e0f0ff 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eff7ff', endColorstr='#e0f0ff',GradientType=0 );
		ul {
			.rlist;
			display: table;
			position: relative;
			width: 100%;
			table-layout: fixed;
			@media @xs, @xxs {
				display: block;
				margin: 0 -20px;
				width: auto;
			}
			li {
				.fh;
				position: relative;
				display: table-cell;
				vertical-align: top;
				padding: 50px 40px 52px;
				font-size: 23px;
				line-height: 1.2;
				font-weight: 500;
				@media @md {
					padding: 30px 20px 20px;
					font-size: 21px;
				}
				@media @sm {
					padding: 20px;
					font-size: 18px;
				}
				@media @xs, @xxs {
					display: block;
					padding: 10px 20px 20px;
				}
				&:before, &:after {
					content: '';
					position: absolute;
					top: 20px;
					bottom: 20px;
					left: 100%;
					width: 3px;
					background: url(../images/bg/border.svg) no-repeat;
					-webkit-background-size: 100% 100%;
					background-size: 100% 100%;
				}
				&:after {
					display: none;
				}
				&:first-child {
					&:after {
						display: block;
						left: -3px;
						right: auto;
					}
				}
				&.cycle-pager-active, &:hover {
					background: #fff;
				}
				a {
					text-decoration: none;
					color: @c3;
					&:before {
						content: '';
						position: absolute;
						z-index: 1;
						top: 0;
						right: 0;
						bottom: 0;
						left: 0;
					}
					&:after {
						content: '';
						position: absolute;
						bottom: 100%;
						left: 1px;
						right: 1px;
						height: 10px;
						background: @c2;
					}
					h2 {
						.fh;
						text-transform: uppercase;
						font-weight: 600;
						font-size: 28px;
						line-height: 1.2;
						margin: 0;
						@media @sm {
							font-size: 20px;
						}
						@media @lg, @md {
							&:before {
								.fi;
								content: @icon-log-in;
								position: absolute;
								display: none;
								z-index: 1;
								top: -40px;
								left: 0;
								width: 115px;
								padding: 24px 0 0;
								font-size: 37px;
								line-height: 1;
								text-align: center;
								font-weight: normal;
								background: #fff;
							}
							&:after {
								content: '';
								position: absolute;
								display: none;
								z-index: 1;
								top: -40px;
								left: 115px;
								border-right: 30px solid transparent;
								border-bottom: 40px solid #fff;
							}
						}
					}
					p {
						margin: 0;
					}
					&:hover{
						&:after {
							height: 20px;
						}
						h2 {
							&:before, &:after {
								display: block;
							}
						}
					}
				}
				&.item_01 a:after {
					background: @c2;
				}
				&.item_02 a:after {
					background: @c5;
				}
				&.item_03 a:after {
					background: @c6;
				}
				&.item_04 a:after {
					background: @c4;
				}
				&.item_05 a:after {
					background: @c3;
				}
			}
		}
	}
}
.eshop-items { 
	text-align: center;
	margin: 0 -10px 65px;
	@media @sm, @xs, @xxs {
		.menu-on & {
			display: none;
		}
	}
	.eshop-items-title { 
		.fh;
		text-align: center;
		font-size: 23px;
		line-height: 1.2;
		text-transform: uppercase;
		color: @c3;
		font-weight: 600;
		margin: 0 0 60px;
	}
	.eshop-item { 
		display: inline-block;
		vertical-align: top;
		width: 25%;
		margin: 0 -2px 40px;
		padding: 0 10px;
		@media @sm, @xs {
			width: 50%;
		}
		@media @xxs {
			width: 100%;
		}
		#col-main & {
			width: 33.3333%;
			@media @sm, @xs {
				width: 50%;
			}
			@media @xxs {
				width: 100%;
			}
		}
		a { 
			position: relative;
			display: block;
			border: 4px solid transparent;
			color: @c1;
			padding: 0 0 35px;
			text-decoration: none;
			&:hover{
				background: #eff7ff;
				border-color: #e0f0ff;
			}
			figure { 
				position: relative;
				padding: 5px 0;
				margin: 0 0 24px;
				background: #fff;
				img { 
					display: block;
					margin: auto;
					max-height: 170px;
				}
				.labels { 
					position: absolute;
					padding: 0 0 0 50px;
					top: -4px;
					right: -4px;
					border-top: 4px solid #e0f0ff;
					border-right: 4px solid #e0f0ff;;
					.label { 
						.fh;
						position: relative;
						float: right;
						clear: both;
						display: block;
						color: #fff;
						text-transform: uppercase;
						background: @c2;
						height: 28px;
						line-height: 28px;
						padding: 0 8px 0 0;
						text-align: right;
						&:before {
							content: '';
							position: absolute;
							right: 100%;
							top: 0;
							border-bottom: 28px solid transparent;
							border-right: 20px solid @c2;
						}
						&.label_01 {
							min-width: 65px;
							background: @c7;
							&:before {
								border-right-color: @c7;
							}
						}
						&.label_02 {
							min-width: 65px;
							background: @c5;
							&:before {
								border-right-color: @c5;
							}
						}
						&.label_03 {
							font-weight: 600;
							font-size: 16px;
							width: 45px;
							background: darken(@c5,8);
							&:before {
								border-right-color: darken(@c5,8);
							}
						}
					}
				}
			}
			.content { 
				h2 { 
					font-size: 23px;
					line-height: 28px;
					font-weight: 500;
					min-height: 56px;
					color: @c3;
					margin: 0 30px 15px;
				}
				.availability { 
					margin: 0 0 5px;
					.text-success, .text-alert, .text-error {
						display: inline-block;
						vertical-align: middle;
						&:before {
							.fi;
							float: left;
							font-size: 27px;
							margin: -8px 10px 0 0;
						}							
					}
					.text-success { 
						&:before {
							content: @icon-android-checkmark-circle;
						}
					}
					.text-alert { 
						&:before {
							content: @icon-android-checkmark-circle;
						}
					}
					.text-error { 
						&:before {
							content: @icon-android-close;
						}
					}
				}
			}
			.price { 
				color: @c5;
				mark { 
					font-size: 22px;
					font-weight: 600;
				}
			}
		}
	}
	.navigation {
		position: relative;
		margin: 0 10px 70px;
		text-align: center;
		&:before {
			content: '';
			position: absolute;
			bottom: 6px;
			left: 0;
			right: 0;
			height: 1px;
			background: #91caff;
		}
		a {
			.fh;
			position: relative;
			display: inline-block;
			text-decoration: none;
			color: @c3;
			line-height: 1;
			padding: 0 ;
			text-transform: uppercase;
			font-weight: 600;
			background: #fff;
			min-width: 42%;
			&:hover{
				color: @c2;
			}
			&:before {
				.fi;
				content: @icon-android-apps;
				display: block;
				font-size: 54px;
				line-height: 1;
				font-weight: normal;
				margin: 0 auto 18px;
			}
			span {
				&:before {
					content: '';
					position: absolute;
					bottom: -46px;
					left: 18px;
					height: 50px;
					width: 50%;
					border-bottom: 1px solid #91caff;
					border-left: 1px solid #91caff;
					-ms-transform: skewX(36deg);
					-webkit-transform: skewX(36deg);
					transform: skewX(36deg);
				}
				&:after {
					content: '';
					position: absolute;
					bottom: -46px;
					right: 18px;
					height: 50px;
					width: 50%;
					border-bottom: 1px solid #91caff;
					border-right: 1px solid #91caff;
					-ms-transform: skewX(-36deg);
					-webkit-transform: skewX(-36deg);
					transform: skewX(-36deg);
				}
			}
		}
	}
}
.mod_articles_category-articles { 
	@media @sm, @xs, @xxs {
		.menu-on & {
			display: none;
		}
	}
	.mod-title { 
		.fh;
		font-size: 23px;
		line-height: 1.2;
		text-align: center;
		text-transform: uppercase;
		height: 50px;
		line-height: 50px;
		font-weight: 600;
		color: @c3;
		margin: 0 0 70px;
		border-bottom: 1px solid #91caff;
		mark { 
			position: relative;
			display: inline-block;
			vertical-align: top;
			padding: 15px 50px 0;
			min-width: 32%;
			background: #fff;
			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 17px;
				width: 50%;
				height: 50px;
				border-top: 1px solid #91caff;
				border-left: 1px solid #91caff;
				-ms-transform: skewX(-36deg);
				-webkit-transform: skewX(-36deg);
				transform: skewX(-36deg);
			}
			&:after {
				content: '';
				position: absolute;
				top: 0;
				right: 17px;
				width: 50%;
				height: 50px;
				border-top: 1px solid #91caff;
				border-right: 1px solid #91caff;
				-ms-transform: skewX(36deg);
				-webkit-transform: skewX(36deg);
				transform: skewX(36deg);
			}
		}
	}
	.mod-items { 
		margin: 0 0 44px -20px;
		.mod-item { 
			.clearfix;
			display: inline-block;
			width: 50%;
			vertical-align: top;
			margin: 0 -2px 40px;
			padding: 0 0 0 20px;
			@media @xxs {
				width: 100%;
			}
			a { 
				color: @c1;
				text-decoration: none;
				figure { 
					float: left;
					width: 40%;
					margin: 5px 0;
					@media @sm, @xs, @xxs {
						float: none;
						width: auto;
					}
					img { 
						display: block;
					}
				}
				.mod-content { 
					float: left;
					width: 50%;
					font-size: 15px;
					line-height: 1.6;
					padding: 0 0 0 45px;
					@media @sm, @xs, @xxs {
						width: auto;
						float: none;
						padding: 0;
					}
					h2 { 
						font-size: 23px;
						font-weight: 500;
						color: @c2;
						margin: 0 0 13px;
						&:hover{
							text-decoration: underline;
						}
					}
					p { 
						margin: 0 0 10px;
					}
					.nav { 
						color: @c2;
						font-size: 14px;
						&:hover{
							text-decoration: underline;
						}
						&:before {
							.fi;
							content: @icon-log-in;
							display: inline-block;
							vertical-align: middle;
							text-decoration: none;
							font-size: 24px;
							margin: 0 12px 0 0;
						}
					}
				}
			}
		}
	}
}
.mod_custom-about { 
	position: relative;
	float: right;
	width: 60%;
	padding: 35px 10px 0 190px;
	margin: 0 0 12px;
	background: #bddfff;
	@media @md, @sm, @xs, @xxs {
		z-index: 2;
		width: 100%;
		padding: 20px 40px 10px;
		margin: 0;
		float: none;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: 100%;
			bottom: 0;
			width: 999em;
			background: #bddfff;
		}
	}
	ul { 
		.rlist;
		margin: 0 -20px;
		text-align: center;
		li { 
			display: inline-block;
			vertical-align: top;
			width: 33.3333%;
			margin: 0 -2px 20px;
			padding: 0 20px;
			color: @c3;text-transform: uppercase;
			font-weight: bold;
			@media @xxs {
				width: 50%;
			}
			[class*=icon-] {
				.border-radius(50%);
				display: block;
				margin: 0 auto 12px;
				width: 100px;
				height: 100px;
				line-height: 98px;
				font-size: 50px;
				border: 1px solid @c3;
				&:before {
					margin: 0;
				}
			}
			.icon-flag-cr {
				padding: 6px 0 0 12px;
				line-height: 92px;
			}
			.icon-map-cr {
				font-size: 30px;
			}
			br { 
			}
		}
	}
}
.mod_xnewsletter { 
	.clearfix;
	position: relative;
	float: right;
	width: 60%;
	padding: 22px 0 15px 120px;
	@media @md {
		width: 25%;
		padding: 80px 0;
	}
	@media @sm, @xs, @xxs {
		float: none;
		width: auto;
		padding: 20px 0;
	}
	@media @lg, @md {
		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: -500em;
			width: 1000em;
			height: 400px;
			background: #a1d1ff;
		}
	}
	@media @sm, @xs, @xxs {
		padding: 40px 10%;
		background: #a1d1ff;
	}
	.mod-title { 
		.fh;
		position: relative;
		float: left;
		width: 42%;
		margin: 0;
		padding: 0 10px 0 0;
		font-size: 23px;
		line-height: 1.2;
		color: @c3;
		@media @md, @sm, @xs, @xxs {
			float: none;
			width: auto;
			padding: 0;
			margin: 0 0 20px;
		}
	}
	.mod-content { 
		position: relative;
		@media @lg {
			float: left;
			padding: 0 40px 0 0;
			width: 58%;
		}
		form { 
			div { 
				input { 
					border-color: transparent;
					height: 36px;
					margin: 0 0 10px;
					@media @lg  {
						float: left;
						margin: 0 -40px 0 0;
					}
					@media @sm, @xs {
						float: left;
						margin: 0 -160px 0 0;
					}
				}
				button { 
					position: relative;
					height: 36px;
					line-height: 1;
					text-align: right;
					@media @lg {
						color: @c3;
						width: 40px;
						left: 44px;
						font-size: 0;
						padding: 0;
						background: none;
						&:hover{
							color: @c2;
						}
					}
					@media @sm, @xs {
						width: 160px;
					}
					&:before {
						.fi;
						margin: 0 10px 0 0;
						content: @icon-paper-airplane;
						@media @lg {
							font-size: 36px;
							margin: 0;
						}
					}
				}
			}
		}
	}
}
.mod_custom-contact-footer { 
	position: relative;
	z-index: 1;
	top: 40px;
	width: 40%;
	padding: 5px 0 42px;
	@media @md {
		width: 50%;
		padding: 0 0 30px;
		top: 20px;
	}
	@media @lg, @md {
		&:before, &:after {
			content: '';
			position: absolute;
			left: 100%;
			bottom: 0;
			margin: 0 0 0 -13px;
			border-right: 300px solid transparent;
			border-top: 510px solid #e0f0ff;
		}
		&:before {
			margin-bottom: -13px;
			border-top-color: fade(#000,10);
		}
	}
	@media @sm, @xs, @xxs {
		top: 0;
		width: auto;
		padding: 30px 100px 30px 0;
	}
	.mod-inner {
		@media @lg, @md {
			&:before, &:after {
				content: '';
				position: absolute;
				top: -40px;
				right: 13px;
				bottom: -13px;
				width: 999em;
				background: fade(#000,10);
			}
			&:after {
				bottom: 0;
				background: #e0f0ff;
			}
		}
	}
	.mod-title { 
		.fh;
		position: relative;
		z-index: 1;
		color: @c3;
		font-size: 23px;
		line-height: 1.2;
		font-weight: 600;
		margin: 0 0 22px;
	}
	.mod-items { 
		position: relative;
		z-index: 1;
		.mod-item { 
			display: inline-block;
			vertical-align: top;
			margin: 0 -4px 0 0;
			padding: 0 20px 0 0;
			width: 50%;
			font-size: 15px;
			@media @xs, @xxs {
				width: 100%;
			}
			.title { 
				.fh;
				color: @c3;
				font-weight: 500;
				font-size: 21px;
				line-height: 1.2;
				margin: 0 0 10px;
			}
			address { 
				font-style: normal;
				line-height: 1.6;
				margin: 0 0 5px;
				br { 
				}
			}
			.mod-phone { 
				margin: 0 0 2px;
				mark { 
					color: @c2;
					font-size: 22px;
				}
			}
			.mod-email { 
				margin: 0 0 2px;
				a { 
				}
			}
			.mod-map { 
				margin: 13px 0;
				font-size: 14px;
				a { 
					text-decoration: none;
					&:before {
						.fi;
						content: @icon-ios-location;
						display: inline-block;
						vertical-align: middle;
						line-height: 1;
						font-size: 30px;
					}
				}
			}
			&.item_01 {
				.mod-map { 
					a { 
						color: @c6;
					}
				}
			}
			&.item_02 {
				.mod-map { 
					a { 
						color: @c4;
					}
				}
			}
			&:nth-child(even) {
				.title {
					@media @lg, @md {
						margin-right: -80px;
					}
				}
			}
		}
	}
	.mod-resize { 
		position: absolute;
		z-index: 1;
		bottom: 0;
		right: 13px;
		color: @c2;
		font-size: 0;
		padding: 0 2px;
		background: transparent;
		&:before {
			.transition(0.2s);
			content: '';
			position: absolute;
			top: 0;
			right: -12px;
			bottom: 0;
			left: -12px;
			background: #fff;
			-ms-transform: skewX(-30deg);
			-webkit-transform: skewX(-30deg);
			transform: skewX(-30deg);
		}
		&:after {
			.fi;
			position: relative;
			content: @icon-arrow-expand;
			font-size: 28px;
		}
		&:hover{
			color: #fff;
			&:before {
				background: @c2;
			}
		}
	}
}
.mod_custom-map {
	position: relative;
	padding: 0 0 26%;
	@media @xs, @xxs {
		padding: 0 0 50%;
	} 
	.map-canvas {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}
.mod_custom-copy-copy {
	float: left;
	margin: 3px 0;
	color: #fff;
	font-size: 13px;
	a {
		color: #fff;
	}
	p {
		margin: 0;
	}
}
.mod_custom-copy-xart {
	float: right;
	margin: 0 40px 0 20px;
	a {
		display: inline-block;
		color: #fff;
		font-size: 12px;
		text-decoration: none;
		text-transform: uppercase;
		&:after {
			.fi;
			content: '\e80c';
			position: relative;
			top: -1px;
			display: inline-block;
			vertical-align: middle;
			font-size: 13px;
			margin: 0 0 0 10px;
		}
		&:hover{
			text-decoration: underline;
		}
	}
}
.eshop_detail { 
	margin: 50px 0 0;
	.detail_image { 
		float: left;
		width: 50%;
		padding: 0 20px 0 0;
		margin: 0 auto 40px;
		@media @xs, @xxs {
			float: none;
			padding: 0;
			width: auto;
			max-width: 300px;
		}
		figure { 
			position: relative;
			overflow: hidden;
			margin: 0 0 16px;
			img { 
				display: block;
				margin: auto;
			}
			a {
				.transition(0.2s);
				display: block;
				padding: 20px;
				border: 1px solid #e0f0ff;
				&:hover{
					border-color: @c2;
				}
			}
		}
		.thumbnails { 
			.rlist;
			margin: 0 -8px 30px;
			li { 
				display: inline-block;
				vertical-align: bottom;
				margin: 0 -4px 0 0;
				padding: 0 8px 16px;
				width: 33.3333%;
				a { 
					.transition(0.2s);
					display: block;
					border: 1px solid #e0f0ff;
					&:hover{
						border-color: @c2;
					}
					img { 
						display: block;
					}
				}
			}
		}
	}
	.detail_description { 
		float: left;
		width: 50%;
		padding: 0 0 0 40px;
		margin: 0 0 40px;
		@media @sm {
			padding: 0 0 0 20px;
		}
		@media @xs, @xxs {
			float: none;
			width: auto;
			padding: 0;
		}
		.description { 
			.clearfix;
			font-size: 15px;
			line-height: 1.6;
			.more { 
				margin: 15px 0 8px;
				display: inline-block;
				text-transform: uppercase;
				font-size: 13px;
				text-decoration: none;
				&:before {
					.fi;
					content: @icon-chevron-right;
					float: right;
					text-decoration: none;
					margin: 4px 0 0 5px;
					font-size: 8px;
				}
				&:hover{
					text-decoration: underline;
				}
			}
		}
		.price { 
			position: relative;
			padding: 20px 0 0;
			margin: 0 auto 18px;
			border-top: 1px solid #e0f0ff;
			@media @xs, @xxs {
				max-width: 300px;
			}
			.items { 
				display: inline-block;
				vertical-align: top;
				width: 75%;
				margin: 0 -5px 20px 0;
				@media @sm, @xs {
					width: 50%;
				}
				@media @xxs {
					width: auto;
					display: block;
					margin-right: 0;
				}
				.item { 
					.label { 
						display: inline-block;
						vertical-align: middle;
						width: 40%;
						margin: 0 -5px 0 0;
						padding: 0 10px 0 0;
						font-size: 15px;
						line-height: 1.2;
						color: @c2;
						@media @sm, @xs, @xxs {
							display: block;
							width: auto;
							margin: 0;
						}

					}
					.content { 
						display: inline-block;
						width: 60%;
						@media @sm, @xs, @xxs {
							display: block;
							width: auto;
						}
					}
					&.item_01 {
						margin: 0 0 15px;
						.label {
							vertical-align: top;
							padding-top: 15px;
						}
						.content {
							color: @c3;
							font-size: 32px;
							line-height: 1.2;
							mark {
								font-weight: 600;
								margin: 0 -2px 0 0;
							}
							span {
								display: block;
								font-weight: normal;
								font-size: 16px;
								color: #9A9E8B;
								margin: 5px 0 0;
							}
						}
					}
					&.item_02 {
						margin: 0 0 2px;
						.content {
							color: #9A9E8B;
							font-size: 21px;
						}
					}
					&.item_03 {
						.label {
							color: @c5;
						}
						.content {
							font-size: 21px;
							color: @c5;
						}
					}
				}
			}
			.discount { 
				.fh;
				position: absolute;
				top: 24px;
				right: 0;
				height: 60px;
				line-height: 60px;
				color: #fff;
				padding: 0 5px 0 0;
				font-size: 17px;
				&:before {
					content: '';
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 10px;
					background: @c5;
				}
				&:after {
					content: '';
					position: absolute;
					top: 0;
					right: 100%;
					margin: 0 -10px 0 0;
					border-left: 40px solid transparent;
					border-top: 60px solid @c5;
				}
				mark {
					position: relative;
					z-index: 1;
					font-size: 24px;
					font-weight: 800;
				}
				span {
					position: relative;
				}
			}
			.availability { 
				display: inline-block;
				vertical-align: bottom;
				width: 25%;
				font-size: 15px;
				margin: 0 0 14px;
				@media @sm, @xs  {
					width: 50%;
				}
				@media @xxs {
					width: auto;
					display: block;
				}
				.text-success, .text-alert, .text-error {
					display: inline-block;
					vertical-align: middle;
					&:before {
						.fi;
						float: left;
						font-size: 27px;
						margin: -8px 10px 0 -4px;
					}							
				}
				.text-success { 
					&:before {
						content: @icon-android-checkmark-circle;
					}
				}
				.text-alert { 
					&:before {
						content: @icon-android-checkmark-circle;
					}
				}
				.text-error { 
					&:before {
						content: @icon-android-close;
					}
				}
			}
		}
		.basket { 
			margin: 0 0 50px;
			input { 
				display: inline-block;
				vertical-align: middle;
				width: 25%;
				margin: 0 -5px 0 0;
				height: 58px;
				line-height: 58px;
				font-size: 20px;
				padding: 0 0 0 30px;
				@media @xxs {
					width: 80%;
				}
			}
			span { 
				display: inline-block;
				vertical-align: middle;
				text-align: center;
				width: 15%;
				margin: 0 -5px 0 0;
			}
			button { 
				position: relative;
				display: inline-block;
				vertical-align: middle;
				width: 60%;
				height: 58px;
				font-size: 28px;
				line-height: 58px;
				padding: 0 60px 0 0;
				font-weight: 500;
				overflow: hidden;
				@media @sm, @xs, @xxs {
					width: 100%;
					display: block;
					margin: 10px 0;
				}
				&:before {
					content: '';
					position: absolute;
					top: 0;
					right: -48px;
					bottom: 0;
					width: 100px;
					background: @c3;
					-ms-transform: skewX(35deg);
					-webkit-transform: skewX(35deg);
					transform: skewX(35deg);
				}
				&:after {
					.fi;
					content: @icon-android-cart;
					height: 58px;
					line-height: 58px;
					position: absolute;
					top: 0;
					right: 0;
					width: 50px;
					font-weight: normal;
				}
			}
		}
		.contact {
			position: relative;
			overflow: hidden;
			padding: 20px 30px;
			margin: 0 0 30px;
			border: 4px solid #e0f0ff;
			@media @xs, @xxs {
				padding-top: 60px;
			}
			&:before {
				content: '';
				position: absolute;
				top: 0;
				right: -44px;
				height: 48px;
				width: 100px;
				background: #e0f0ff;
				-ms-transform: skewX(-32deg);
				-webkit-transform: skewX(-32deg);
				transform: skewX(-32deg);
			}
			&:after {
				.fi;
				content: @icon-ios-telephone;
				height: 45px;
				line-height: 45px;
				position: absolute;
				top: 0;
				right: 0;
				color: @c2;
				font-size: 32px;
				width: 40px;
				font-weight: normal;
			}
			.mod-title {
				.fh;
				position: relative;
				z-index: 1;
				font-weight: 600;
				color: @c3;
				font-size: 18px;
				margin: 0 0 20px;
				text-transform: uppercase;
			}
			.content {
				padding: 0 0 0 32%;
				@media @sm, @xs, @xxs {
					padding: 0;
				}
				.name {
					.fh;
					color: @c2;
					font-size: 21px;
					line-height: 1.2;
					font-weight: 500;
					margin: 0 0 12px;
				}
				.phone {
					color: @c2;
					font-size: 15px;
					margin: 0 0 4px;
					.label {
						color: @c1;
					}
					mark {
						font-size: 22px;
						display: inline-block;
						line-height: 0;
					}
				}
				.email {
					font-size: 15px;
					margin: 0 0 4px;
				}
			}
		}
	}
}
.mod_custom_panes { 
	clear: both;
	margin: 0 0 40px;
	.tabs { 
		margin: 0 0 40px;
		border-bottom: 4px solid #e0f0ff;
		ul {
			.rlist;
			display: table;
			@media @xs, @xxs {
				display: block;
			}
			li { 
				@media @lg, @md, @sm {
					.fh;
					display: table-cell;
					vertical-align: bottom;
					font-size: 18px;
					line-height: 1.2;
					text-align: center;
					padding: 25px 72px 19px;
					font-weight: 600;
					text-transform: uppercase;
					@media @sm {
						padding-left: 30px;
						padding-right: 30px;
					}
					a { 
						text-decoration: none;
						&:before {
							content: '';
							position: absolute;
							top: 7px;
							left: 0;
							bottom: 0;
							right: -2px;
							border: 2px solid #e0f0ff;
							border-bottom: none;
						}
						&:hover{
							color: @c3;
						}
					}
					&.cycle-pager-active {
						a {
							color: @c3;
							&:before {
								top: 0;
								border-width: 4px;
							}
							&:after {
								content: '';
								position: absolute;
								top: 100%;
								left: 4px;
								right: 2px;
								height: 4px;
								background: #fff;
							}
						}
					}
				}
				@media @xs, @xxs {
					margin: 0 0 -2px;
					a {
						.fh;
						display: block;
						text-transform: uppercase;
						text-decoration: none;
						font-size: 18px;
						line-height: 1.2;
						font-weight: 600;
						padding: 15px 20px;
						border: 2px solid #e0f0ff;
					}
					&.cycle-pager-active {
						a {
							color: #fff;
							border-color: @c2;
							background: @c2;
							&:before {
								.fi;
								content: @icon-chevron-down;
								float: right;
							}
						}
					}
				}
			}
		}
	}
	.pane { 
		margin: 0 40px;
		position: static!important;
		@media @sm, @xs, @xxs {
			margin: 0;
		}
		&.cycle-slide {
			display: none!important;
			&.cycle-slide-active {
				display: block!important;
			}
		}
		p { 
		}
	}
}
.mod_eshop-items {
	.mod-title { 
		.fh;
		font-size: 23px;
		line-height: 1.2;
		text-align: center;
		text-transform: uppercase;
		height: 50px;
		line-height: 50px;
		font-weight: 600;
		color: @c3;
		margin: 0 0 70px;
		border-bottom: 1px solid #91caff;
		mark { 
			position: relative;
			display: inline-block;
			vertical-align: top;
			padding: 15px 50px 0;
			min-width: 32%;
			background: #fff;
			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 17px;
				width: 50%;
				height: 50px;
				border-top: 1px solid #91caff;
				border-left: 1px solid #91caff;
				-ms-transform: skewX(-36deg);
				-webkit-transform: skewX(-36deg);
				transform: skewX(-36deg);
			}
			&:after {
				content: '';
				position: absolute;
				top: 0;
				right: 17px;
				width: 50%;
				height: 50px;
				border-top: 1px solid #91caff;
				border-right: 1px solid #91caff;
				-ms-transform: skewX(36deg);
				-webkit-transform: skewX(36deg);
				transform: skewX(36deg);
			}
		}
	}
}
.mod_custom-filter { 
	margin: 0 0 46px;
	.mod-left { 
		float: left;
		width: 50%;
		padding: 0 10px 0 0;
		margin: 0 0 20px;
		@media @sm, @xs, @xxs {
			float: none;
			width: auto;
			padding: 0;
		}
	}
	.mod-right { 
		float: right;
		width: 50%;
		padding: 0 0 0 10px;
		margin: 0 0 20px;
		@media @sm, @xs, @xxs {
			float: none;
			width: auto;
			padding: 0;
		}
	}
	.form-row { 
		display: inline-block;
		.form-title { 
			display: inline-block;
			color: @c2;
			font-size: 15px;
		}
		.form-content { 
			display: inline-block;
		}
		.form-checkbox { 
			display: inline-block;
			margin: 0 10px 0 0;
			font-size: 14px;
		}
	}
	.form-range {
		text-align: right;
		font-size: 15px;
		@media @sm, @xs, @xxs {
			text-align: left;
		}
		label {
			display: inline-block;
			@media @xs, @xxs {
				display: block;
			}
		}
		.slider_from, .slider_to {
			display: inline-block;
			min-width: 100px;
			text-align: center;
			@media @xs, @xxs {
				display: block;
				text-align: center;
			}
		}
		.slider_to {
			text-align: right;
		}
		.slider_range {
			display: inline-block;
			@media @xs, @xxs {
				display: block;
			}
			.ui-slider {
				width: 160px;
				@media @xs, @xxs {
					width: 100%;
				}
			}
		}
	}
	.form-range { 
		label { 
			text-transform: uppercase;
			color: @c2;
		}
	}
	.mod-body { 
		clear: both;
		border: 4px solid #e0f0ff;
		.mod-toggle { 
			.fh;
			position: relative;
			background: none;
			padding: 0 0 0 30px;
			color: @c3;
			text-transform: uppercase;
			font-weight: 600;
			font-size: 18px;
			display: block;
			width: 100%;
			text-align: left;
			height: 48px;
			line-height: 48px;
			overflow: hidden;
			&:before {
				content: '';
				position: absolute;
				top: 0;
				right: -20px;
				bottom: 0;
				width: 58px;
				background: #fff;
				border-right: 80px solid #e0f0ff;
				border-left: 3px solid #e0f0ff;
				-webkit-box-sizing: initial;
				-moz-box-sizing: initial;
				box-sizing: initial;
				-ms-transform: skewX(-30deg);
				-webkit-transform: skewX(-30deg);
				transform: skewX(-30deg);
				@media @xs, @xxs {
					width: auto;
					border-left: none;
				}
			}
			span {
				position: relative;
				display: block;
				&:after {
					.fi;
					content: @icon-chevron-down;
					float: right;
					color: @c2;
					width: 80px;
					text-align: center;
					font-size: 24px;
					@media @xs, @xxs {
						width: 50px;
					}
				}
				&:before {
					.fi;
					content: @icon-funnel;
					float: right;
					color: @c2;
					text-align: center;
					width: 50px;
					font-size: 26px;
					@media @xs, @xxs {
						display: none;
					}
				}
			}
		}
		.mod-inner {
			display: none;
			padding: 15px 30px 30px;
			hr {
				margin: 15px 0;
				border-color: #e0f0ff;
			}
		}
	}
	&.act {
		.mod-body {
			.mod-inner {
				display: block;
			}
		}
	}
}
.ui-slider {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	min-width: 100px;
	height: 4px;
	background: #e0f0ff;
}
.ui-slider-range {
	position: absolute;
	top: 0;
	bottom: 0;
	background: #7bbada;
}
.ui-slider-handle {
	position: absolute;
	top: 50%;
	height: 24px;
	width: 24px;
	margin: -12px 0 0 -12px;
	line-height: 24px;
	font-size: 24px;
	text-align: center;
	outline: none;
	cursor: pointer;
	color: @c3;
	&:before {
		.fi;
		content: @icon-android-navigate;
	}
	span {
		position: absolute;
		top: 100%;
		left: 50%;
		width: 70px;
		text-align: center;
		font-size: 12px;
		font-weight: bold;
		white-space: nowrap;
		margin: 0 0 0 -35px;
		padding: 12px 0 0;
		&:before {
			content: '';
			position: absolute;
			top: 5px;
			left: 50%;
			border: 7px solid transparent;
			border-bottom-color: @c2;
			border-top-width: 0;
			margin: 0 0 0 -7px;
		}
	}
}
.slider_range input {
	display: none;
}