@import "variables";

@font-face {
  font-family: 'icons';
  src:  url('@{icomoon-font-path}/icons.eot?wy4gml');
  src:  url('@{icomoon-font-path}/icons.eot?wy4gml#iefix') format('embedded-opentype'),
    url('@{icomoon-font-path}/icons.ttf?wy4gml') format('truetype'),
    url('@{icomoon-font-path}/icons.woff?wy4gml') format('woff'),
    url('@{icomoon-font-path}/icons.svg?wy4gml#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon, [class*=icon-] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-flag-cr {
  &:before {
    content: @icon-flag-cr;
  }
}
.icon-map-cr {
  &:before {
    content: @icon-map-cr;
  }
}
.icon-xart {
  &:before {
    content: @icon-xart;
  }
}
.icon-alert {
  &:before {
    content: @icon-alert;
  }
}
.icon-alert-circled {
  &:before {
    content: @icon-alert-circled;
  }
}
.icon-android-add {
  &:before {
    content: @icon-android-add;
  }
}
.icon-android-add-circle {
  &:before {
    content: @icon-android-add-circle;
  }
}
.icon-android-alarm-clock {
  &:before {
    content: @icon-android-alarm-clock;
  }
}
.icon-android-alert {
  &:before {
    content: @icon-android-alert;
  }
}
.icon-android-apps {
  &:before {
    content: @icon-android-apps;
  }
}
.icon-android-archive {
  &:before {
    content: @icon-android-archive;
  }
}
.icon-android-arrow-back {
  &:before {
    content: @icon-android-arrow-back;
  }
}
.icon-android-arrow-down {
  &:before {
    content: @icon-android-arrow-down;
  }
}
.icon-android-arrow-dropdown {
  &:before {
    content: @icon-android-arrow-dropdown;
  }
}
.icon-android-arrow-dropdown-circle {
  &:before {
    content: @icon-android-arrow-dropdown-circle;
  }
}
.icon-android-arrow-dropleft {
  &:before {
    content: @icon-android-arrow-dropleft;
  }
}
.icon-android-arrow-dropleft-circle {
  &:before {
    content: @icon-android-arrow-dropleft-circle;
  }
}
.icon-android-arrow-dropright {
  &:before {
    content: @icon-android-arrow-dropright;
  }
}
.icon-android-arrow-dropright-circle {
  &:before {
    content: @icon-android-arrow-dropright-circle;
  }
}
.icon-android-arrow-dropup {
  &:before {
    content: @icon-android-arrow-dropup;
  }
}
.icon-android-arrow-dropup-circle {
  &:before {
    content: @icon-android-arrow-dropup-circle;
  }
}
.icon-android-arrow-forward {
  &:before {
    content: @icon-android-arrow-forward;
  }
}
.icon-android-arrow-up {
  &:before {
    content: @icon-android-arrow-up;
  }
}
.icon-android-attach {
  &:before {
    content: @icon-android-attach;
  }
}
.icon-android-bar {
  &:before {
    content: @icon-android-bar;
  }
}
.icon-android-bicycle {
  &:before {
    content: @icon-android-bicycle;
  }
}
.icon-android-boat {
  &:before {
    content: @icon-android-boat;
  }
}
.icon-android-bookmark {
  &:before {
    content: @icon-android-bookmark;
  }
}
.icon-android-bulb {
  &:before {
    content: @icon-android-bulb;
  }
}
.icon-android-bus {
  &:before {
    content: @icon-android-bus;
  }
}
.icon-android-calendar {
  &:before {
    content: @icon-android-calendar;
  }
}
.icon-android-call {
  &:before {
    content: @icon-android-call;
  }
}
.icon-android-camera {
  &:before {
    content: @icon-android-camera;
  }
}
.icon-android-cancel {
  &:before {
    content: @icon-android-cancel;
  }
}
.icon-android-car {
  &:before {
    content: @icon-android-car;
  }
}
.icon-android-cart {
  &:before {
    content: @icon-android-cart;
  }
}
.icon-android-clipboard {
  &:before {
    content: @icon-android-clipboard;
  }
}
.icon-android-close {
  &:before {
    content: @icon-android-close;
  }
}
.icon-android-cloud {
  &:before {
    content: @icon-android-cloud;
  }
}
.icon-android-cloud-circle {
  &:before {
    content: @icon-android-cloud-circle;
  }
}
.icon-android-cloud-done {
  &:before {
    content: @icon-android-cloud-done;
  }
}
.icon-android-cloud-outline {
  &:before {
    content: @icon-android-cloud-outline;
  }
}
.icon-android-color-palette {
  &:before {
    content: @icon-android-color-palette;
  }
}
.icon-android-compass {
  &:before {
    content: @icon-android-compass;
  }
}
.icon-android-contact {
  &:before {
    content: @icon-android-contact;
  }
}
.icon-android-contacts {
  &:before {
    content: @icon-android-contacts;
  }
}
.icon-android-contract {
  &:before {
    content: @icon-android-contract;
  }
}
.icon-android-create {
  &:before {
    content: @icon-android-create;
  }
}
.icon-android-delete {
  &:before {
    content: @icon-android-delete;
  }
}
.icon-android-desktop {
  &:before {
    content: @icon-android-desktop;
  }
}
.icon-android-document {
  &:before {
    content: @icon-android-document;
  }
}
.icon-android-done {
  &:before {
    content: @icon-android-done;
  }
}
.icon-android-done-all {
  &:before {
    content: @icon-android-done-all;
  }
}
.icon-android-download {
  &:before {
    content: @icon-android-download;
  }
}
.icon-android-drafts {
  &:before {
    content: @icon-android-drafts;
  }
}
.icon-android-exit {
  &:before {
    content: @icon-android-exit;
  }
}
.icon-android-expand {
  &:before {
    content: @icon-android-expand;
  }
}
.icon-android-favorite {
  &:before {
    content: @icon-android-favorite;
  }
}
.icon-android-favorite-outline {
  &:before {
    content: @icon-android-favorite-outline;
  }
}
.icon-android-film {
  &:before {
    content: @icon-android-film;
  }
}
.icon-android-folder {
  &:before {
    content: @icon-android-folder;
  }
}
.icon-android-folder-open {
  &:before {
    content: @icon-android-folder-open;
  }
}
.icon-android-funnel {
  &:before {
    content: @icon-android-funnel;
  }
}
.icon-android-globe {
  &:before {
    content: @icon-android-globe;
  }
}
.icon-android-hand {
  &:before {
    content: @icon-android-hand;
  }
}
.icon-android-hangout {
  &:before {
    content: @icon-android-hangout;
  }
}
.icon-android-happy {
  &:before {
    content: @icon-android-happy;
  }
}
.icon-android-home {
  &:before {
    content: @icon-android-home;
  }
}
.icon-android-chat {
  &:before {
    content: @icon-android-chat;
  }
}
.icon-android-checkbox {
  &:before {
    content: @icon-android-checkbox;
  }
}
.icon-android-checkbox-blank {
  &:before {
    content: @icon-android-checkbox-blank;
  }
}
.icon-android-checkbox-outline {
  &:before {
    content: @icon-android-checkbox-outline;
  }
}
.icon-android-checkbox-outline-blank {
  &:before {
    content: @icon-android-checkbox-outline-blank;
  }
}
.icon-android-checkmark-circle {
  &:before {
    content: @icon-android-checkmark-circle;
  }
}
.icon-android-image {
  &:before {
    content: @icon-android-image;
  }
}
.icon-android-laptop {
  &:before {
    content: @icon-android-laptop;
  }
}
.icon-android-list {
  &:before {
    content: @icon-android-list;
  }
}
.icon-android-locate {
  &:before {
    content: @icon-android-locate;
  }
}
.icon-android-lock {
  &:before {
    content: @icon-android-lock;
  }
}
.icon-android-mail {
  &:before {
    content: @icon-android-mail;
  }
}
.icon-android-map {
  &:before {
    content: @icon-android-map;
  }
}
.icon-android-menu {
  &:before {
    content: @icon-android-menu;
  }
}
.icon-android-microphone {
  &:before {
    content: @icon-android-microphone;
  }
}
.icon-android-microphone-off {
  &:before {
    content: @icon-android-microphone-off;
  }
}
.icon-android-more-horizontal {
  &:before {
    content: @icon-android-more-horizontal;
  }
}
.icon-android-more-vertical {
  &:before {
    content: @icon-android-more-vertical;
  }
}
.icon-android-navigate {
  &:before {
    content: @icon-android-navigate;
  }
}
.icon-android-notifications {
  &:before {
    content: @icon-android-notifications;
  }
}
.icon-android-notifications-none {
  &:before {
    content: @icon-android-notifications-none;
  }
}
.icon-android-notifications-off {
  &:before {
    content: @icon-android-notifications-off;
  }
}
.icon-android-open {
  &:before {
    content: @icon-android-open;
  }
}
.icon-android-options {
  &:before {
    content: @icon-android-options;
  }
}
.icon-android-people {
  &:before {
    content: @icon-android-people;
  }
}
.icon-android-person {
  &:before {
    content: @icon-android-person;
  }
}
.icon-android-person-add {
  &:before {
    content: @icon-android-person-add;
  }
}
.icon-android-phone-landscape {
  &:before {
    content: @icon-android-phone-landscape;
  }
}
.icon-android-phone-portrait {
  &:before {
    content: @icon-android-phone-portrait;
  }
}
.icon-android-pin {
  &:before {
    content: @icon-android-pin;
  }
}
.icon-android-plane {
  &:before {
    content: @icon-android-plane;
  }
}
.icon-android-playstore {
  &:before {
    content: @icon-android-playstore;
  }
}
.icon-android-print {
  &:before {
    content: @icon-android-print;
  }
}
.icon-android-radio-button-off {
  &:before {
    content: @icon-android-radio-button-off;
  }
}
.icon-android-radio-button-on {
  &:before {
    content: @icon-android-radio-button-on;
  }
}
.icon-android-refresh {
  &:before {
    content: @icon-android-refresh;
  }
}
.icon-android-remove {
  &:before {
    content: @icon-android-remove;
  }
}
.icon-android-remove-circle {
  &:before {
    content: @icon-android-remove-circle;
  }
}
.icon-android-restaurant {
  &:before {
    content: @icon-android-restaurant;
  }
}
.icon-android-sad {
  &:before {
    content: @icon-android-sad;
  }
}
.icon-android-search {
  &:before {
    content: @icon-android-search;
  }
}
.icon-android-send {
  &:before {
    content: @icon-android-send;
  }
}
.icon-android-settings {
  &:before {
    content: @icon-android-settings;
  }
}
.icon-android-share {
  &:before {
    content: @icon-android-share;
  }
}
.icon-android-share-alt {
  &:before {
    content: @icon-android-share-alt;
  }
}
.icon-android-star {
  &:before {
    content: @icon-android-star;
  }
}
.icon-android-star-half {
  &:before {
    content: @icon-android-star-half;
  }
}
.icon-android-star-outline {
  &:before {
    content: @icon-android-star-outline;
  }
}
.icon-android-stopwatch {
  &:before {
    content: @icon-android-stopwatch;
  }
}
.icon-android-subway {
  &:before {
    content: @icon-android-subway;
  }
}
.icon-android-sunny {
  &:before {
    content: @icon-android-sunny;
  }
}
.icon-android-sync {
  &:before {
    content: @icon-android-sync;
  }
}
.icon-android-textsms {
  &:before {
    content: @icon-android-textsms;
  }
}
.icon-android-time {
  &:before {
    content: @icon-android-time;
  }
}
.icon-android-train {
  &:before {
    content: @icon-android-train;
  }
}
.icon-android-unlock {
  &:before {
    content: @icon-android-unlock;
  }
}
.icon-android-upload {
  &:before {
    content: @icon-android-upload;
  }
}
.icon-android-volume-down {
  &:before {
    content: @icon-android-volume-down;
  }
}
.icon-android-volume-mute {
  &:before {
    content: @icon-android-volume-mute;
  }
}
.icon-android-volume-off {
  &:before {
    content: @icon-android-volume-off;
  }
}
.icon-android-volume-up {
  &:before {
    content: @icon-android-volume-up;
  }
}
.icon-android-walk {
  &:before {
    content: @icon-android-walk;
  }
}
.icon-android-warning {
  &:before {
    content: @icon-android-warning;
  }
}
.icon-android-watch {
  &:before {
    content: @icon-android-watch;
  }
}
.icon-android-wifi {
  &:before {
    content: @icon-android-wifi;
  }
}
.icon-aperture {
  &:before {
    content: @icon-aperture;
  }
}
.icon-archive {
  &:before {
    content: @icon-archive;
  }
}
.icon-arrow-down-a {
  &:before {
    content: @icon-arrow-down-a;
  }
}
.icon-arrow-down-b {
  &:before {
    content: @icon-arrow-down-b;
  }
}
.icon-arrow-down-c {
  &:before {
    content: @icon-arrow-down-c;
  }
}
.icon-arrow-expand {
  &:before {
    content: @icon-arrow-expand;
  }
}
.icon-arrow-graph-down-left {
  &:before {
    content: @icon-arrow-graph-down-left;
  }
}
.icon-arrow-graph-down-right {
  &:before {
    content: @icon-arrow-graph-down-right;
  }
}
.icon-arrow-graph-up-left {
  &:before {
    content: @icon-arrow-graph-up-left;
  }
}
.icon-arrow-graph-up-right {
  &:before {
    content: @icon-arrow-graph-up-right;
  }
}
.icon-arrow-left-a {
  &:before {
    content: @icon-arrow-left-a;
  }
}
.icon-arrow-left-b {
  &:before {
    content: @icon-arrow-left-b;
  }
}
.icon-arrow-left-c {
  &:before {
    content: @icon-arrow-left-c;
  }
}
.icon-arrow-move {
  &:before {
    content: @icon-arrow-move;
  }
}
.icon-arrow-resize {
  &:before {
    content: @icon-arrow-resize;
  }
}
.icon-arrow-return-left {
  &:before {
    content: @icon-arrow-return-left;
  }
}
.icon-arrow-return-right {
  &:before {
    content: @icon-arrow-return-right;
  }
}
.icon-arrow-right-a {
  &:before {
    content: @icon-arrow-right-a;
  }
}
.icon-arrow-right-b {
  &:before {
    content: @icon-arrow-right-b;
  }
}
.icon-arrow-right-c {
  &:before {
    content: @icon-arrow-right-c;
  }
}
.icon-arrow-shrink {
  &:before {
    content: @icon-arrow-shrink;
  }
}
.icon-arrow-swap {
  &:before {
    content: @icon-arrow-swap;
  }
}
.icon-arrow-up-a {
  &:before {
    content: @icon-arrow-up-a;
  }
}
.icon-arrow-up-b {
  &:before {
    content: @icon-arrow-up-b;
  }
}
.icon-arrow-up-c {
  &:before {
    content: @icon-arrow-up-c;
  }
}
.icon-asterisk {
  &:before {
    content: @icon-asterisk;
  }
}
.icon-at {
  &:before {
    content: @icon-at;
  }
}
.icon-backspace {
  &:before {
    content: @icon-backspace;
  }
}
.icon-backspace-outline {
  &:before {
    content: @icon-backspace-outline;
  }
}
.icon-bag {
  &:before {
    content: @icon-bag;
  }
}
.icon-battery-empty {
  &:before {
    content: @icon-battery-empty;
  }
}
.icon-battery-full {
  &:before {
    content: @icon-battery-full;
  }
}
.icon-battery-half {
  &:before {
    content: @icon-battery-half;
  }
}
.icon-battery-charging {
  &:before {
    content: @icon-battery-charging;
  }
}
.icon-battery-low {
  &:before {
    content: @icon-battery-low;
  }
}
.icon-beaker {
  &:before {
    content: @icon-beaker;
  }
}
.icon-beer {
  &:before {
    content: @icon-beer;
  }
}
.icon-bluetooth {
  &:before {
    content: @icon-bluetooth;
  }
}
.icon-bonfire {
  &:before {
    content: @icon-bonfire;
  }
}
.icon-bookmark {
  &:before {
    content: @icon-bookmark;
  }
}
.icon-bowtie {
  &:before {
    content: @icon-bowtie;
  }
}
.icon-briefcase {
  &:before {
    content: @icon-briefcase;
  }
}
.icon-bug {
  &:before {
    content: @icon-bug;
  }
}
.icon-calculator {
  &:before {
    content: @icon-calculator;
  }
}
.icon-calendar {
  &:before {
    content: @icon-calendar;
  }
}
.icon-camera {
  &:before {
    content: @icon-camera;
  }
}
.icon-card {
  &:before {
    content: @icon-card;
  }
}
.icon-cash {
  &:before {
    content: @icon-cash;
  }
}
.icon-clipboard {
  &:before {
    content: @icon-clipboard;
  }
}
.icon-clock {
  &:before {
    content: @icon-clock;
  }
}
.icon-close {
  &:before {
    content: @icon-close;
  }
}
.icon-close-circled {
  &:before {
    content: @icon-close-circled;
  }
}
.icon-closed-captioning {
  &:before {
    content: @icon-closed-captioning;
  }
}
.icon-close-round {
  &:before {
    content: @icon-close-round;
  }
}
.icon-cloud {
  &:before {
    content: @icon-cloud;
  }
}
.icon-code {
  &:before {
    content: @icon-code;
  }
}
.icon-code-download {
  &:before {
    content: @icon-code-download;
  }
}
.icon-code-working {
  &:before {
    content: @icon-code-working;
  }
}
.icon-coffee {
  &:before {
    content: @icon-coffee;
  }
}
.icon-compass {
  &:before {
    content: @icon-compass;
  }
}
.icon-compose {
  &:before {
    content: @icon-compose;
  }
}
.icon-connection-bars {
  &:before {
    content: @icon-connection-bars;
  }
}
.icon-contrast {
  &:before {
    content: @icon-contrast;
  }
}
.icon-crop {
  &:before {
    content: @icon-crop;
  }
}
.icon-cube {
  &:before {
    content: @icon-cube;
  }
}
.icon-disc {
  &:before {
    content: @icon-disc;
  }
}
.icon-document {
  &:before {
    content: @icon-document;
  }
}
.icon-document-text {
  &:before {
    content: @icon-document-text;
  }
}
.icon-drag {
  &:before {
    content: @icon-drag;
  }
}
.icon-earth {
  &:before {
    content: @icon-earth;
  }
}
.icon-easel {
  &:before {
    content: @icon-easel;
  }
}
.icon-edit {
  &:before {
    content: @icon-edit;
  }
}
.icon-egg {
  &:before {
    content: @icon-egg;
  }
}
.icon-eject {
  &:before {
    content: @icon-eject;
  }
}
.icon-email {
  &:before {
    content: @icon-email;
  }
}
.icon-email-unread {
  &:before {
    content: @icon-email-unread;
  }
}
.icon-erlenmeyer-flask {
  &:before {
    content: @icon-erlenmeyer-flask;
  }
}
.icon-erlenmeyer-flask-bubbles {
  &:before {
    content: @icon-erlenmeyer-flask-bubbles;
  }
}
.icon-eye {
  &:before {
    content: @icon-eye;
  }
}
.icon-eye-disabled {
  &:before {
    content: @icon-eye-disabled;
  }
}
.icon-female {
  &:before {
    content: @icon-female;
  }
}
.icon-filing {
  &:before {
    content: @icon-filing;
  }
}
.icon-film-marker {
  &:before {
    content: @icon-film-marker;
  }
}
.icon-fireball {
  &:before {
    content: @icon-fireball;
  }
}
.icon-flag {
  &:before {
    content: @icon-flag;
  }
}
.icon-flame {
  &:before {
    content: @icon-flame;
  }
}
.icon-flash {
  &:before {
    content: @icon-flash;
  }
}
.icon-flash-off {
  &:before {
    content: @icon-flash-off;
  }
}
.icon-folder {
  &:before {
    content: @icon-folder;
  }
}
.icon-fork {
  &:before {
    content: @icon-fork;
  }
}
.icon-fork-repo {
  &:before {
    content: @icon-fork-repo;
  }
}
.icon-forward {
  &:before {
    content: @icon-forward;
  }
}
.icon-funnel {
  &:before {
    content: @icon-funnel;
  }
}
.icon-gear-a {
  &:before {
    content: @icon-gear-a;
  }
}
.icon-gear-b {
  &:before {
    content: @icon-gear-b;
  }
}
.icon-grid {
  &:before {
    content: @icon-grid;
  }
}
.icon-hammer {
  &:before {
    content: @icon-hammer;
  }
}
.icon-happy {
  &:before {
    content: @icon-happy;
  }
}
.icon-happy-outline {
  &:before {
    content: @icon-happy-outline;
  }
}
.icon-headphone {
  &:before {
    content: @icon-headphone;
  }
}
.icon-heart {
  &:before {
    content: @icon-heart;
  }
}
.icon-heart-broken {
  &:before {
    content: @icon-heart-broken;
  }
}
.icon-help {
  &:before {
    content: @icon-help;
  }
}
.icon-help-buoy {
  &:before {
    content: @icon-help-buoy;
  }
}
.icon-help-circled {
  &:before {
    content: @icon-help-circled;
  }
}
.icon-home {
  &:before {
    content: @icon-home;
  }
}
.icon-chatbox {
  &:before {
    content: @icon-chatbox;
  }
}
.icon-chatboxes {
  &:before {
    content: @icon-chatboxes;
  }
}
.icon-chatbox-working {
  &:before {
    content: @icon-chatbox-working;
  }
}
.icon-chatbubble {
  &:before {
    content: @icon-chatbubble;
  }
}
.icon-chatbubbles {
  &:before {
    content: @icon-chatbubbles;
  }
}
.icon-chatbubble-working {
  &:before {
    content: @icon-chatbubble-working;
  }
}
.icon-checkmark {
  &:before {
    content: @icon-checkmark;
  }
}
.icon-checkmark-circled {
  &:before {
    content: @icon-checkmark-circled;
  }
}
.icon-checkmark-round {
  &:before {
    content: @icon-checkmark-round;
  }
}
.icon-chevron-down {
  &:before {
    content: @icon-chevron-down;
  }
}
.icon-chevron-left {
  &:before {
    content: @icon-chevron-left;
  }
}
.icon-chevron-right {
  &:before {
    content: @icon-chevron-right;
  }
}
.icon-chevron-up {
  &:before {
    content: @icon-chevron-up;
  }
}
.icon-icecream {
  &:before {
    content: @icon-icecream;
  }
}
.icon-image {
  &:before {
    content: @icon-image;
  }
}
.icon-images {
  &:before {
    content: @icon-images;
  }
}
.icon-information {
  &:before {
    content: @icon-information;
  }
}
.icon-information-circled {
  &:before {
    content: @icon-information-circled;
  }
}
.icon-ionic {
  &:before {
    content: @icon-ionic;
  }
}
.icon-ios-alarm {
  &:before {
    content: @icon-ios-alarm;
  }
}
.icon-ios-alarm-outline {
  &:before {
    content: @icon-ios-alarm-outline;
  }
}
.icon-ios-albums {
  &:before {
    content: @icon-ios-albums;
  }
}
.icon-ios-albums-outline {
  &:before {
    content: @icon-ios-albums-outline;
  }
}
.icon-ios-americanfootball {
  &:before {
    content: @icon-ios-americanfootball;
  }
}
.icon-ios-americanfootball-outline {
  &:before {
    content: @icon-ios-americanfootball-outline;
  }
}
.icon-ios-analytics {
  &:before {
    content: @icon-ios-analytics;
  }
}
.icon-ios-analytics-outline {
  &:before {
    content: @icon-ios-analytics-outline;
  }
}
.icon-ios-arrow-back {
  &:before {
    content: @icon-ios-arrow-back;
  }
}
.icon-ios-arrow-down {
  &:before {
    content: @icon-ios-arrow-down;
  }
}
.icon-ios-arrow-forward {
  &:before {
    content: @icon-ios-arrow-forward;
  }
}
.icon-ios-arrow-left {
  &:before {
    content: @icon-ios-arrow-left;
  }
}
.icon-ios-arrow-right {
  &:before {
    content: @icon-ios-arrow-right;
  }
}
.icon-ios-arrow-thin-down {
  &:before {
    content: @icon-ios-arrow-thin-down;
  }
}
.icon-ios-arrow-thin-left {
  &:before {
    content: @icon-ios-arrow-thin-left;
  }
}
.icon-ios-arrow-thin-right {
  &:before {
    content: @icon-ios-arrow-thin-right;
  }
}
.icon-ios-arrow-thin-up {
  &:before {
    content: @icon-ios-arrow-thin-up;
  }
}
.icon-ios-arrow-up {
  &:before {
    content: @icon-ios-arrow-up;
  }
}
.icon-ios-at {
  &:before {
    content: @icon-ios-at;
  }
}
.icon-ios-at-outline {
  &:before {
    content: @icon-ios-at-outline;
  }
}
.icon-ios-barcode {
  &:before {
    content: @icon-ios-barcode;
  }
}
.icon-ios-barcode-outline {
  &:before {
    content: @icon-ios-barcode-outline;
  }
}
.icon-ios-baseball {
  &:before {
    content: @icon-ios-baseball;
  }
}
.icon-ios-baseball-outline {
  &:before {
    content: @icon-ios-baseball-outline;
  }
}
.icon-ios-basketball {
  &:before {
    content: @icon-ios-basketball;
  }
}
.icon-ios-basketball-outline {
  &:before {
    content: @icon-ios-basketball-outline;
  }
}
.icon-ios-bell {
  &:before {
    content: @icon-ios-bell;
  }
}
.icon-ios-bell-outline {
  &:before {
    content: @icon-ios-bell-outline;
  }
}
.icon-ios-body {
  &:before {
    content: @icon-ios-body;
  }
}
.icon-ios-body-outline {
  &:before {
    content: @icon-ios-body-outline;
  }
}
.icon-ios-bolt {
  &:before {
    content: @icon-ios-bolt;
  }
}
.icon-ios-bolt-outline {
  &:before {
    content: @icon-ios-bolt-outline;
  }
}
.icon-ios-book {
  &:before {
    content: @icon-ios-book;
  }
}
.icon-ios-bookmarks {
  &:before {
    content: @icon-ios-bookmarks;
  }
}
.icon-ios-bookmarks-outline {
  &:before {
    content: @icon-ios-bookmarks-outline;
  }
}
.icon-ios-book-outline {
  &:before {
    content: @icon-ios-book-outline;
  }
}
.icon-ios-box {
  &:before {
    content: @icon-ios-box;
  }
}
.icon-ios-box-outline {
  &:before {
    content: @icon-ios-box-outline;
  }
}
.icon-ios-briefcase {
  &:before {
    content: @icon-ios-briefcase;
  }
}
.icon-ios-briefcase-outline {
  &:before {
    content: @icon-ios-briefcase-outline;
  }
}
.icon-ios-browsers {
  &:before {
    content: @icon-ios-browsers;
  }
}
.icon-ios-browsers-outline {
  &:before {
    content: @icon-ios-browsers-outline;
  }
}
.icon-ios-calculator {
  &:before {
    content: @icon-ios-calculator;
  }
}
.icon-ios-calculator-outline {
  &:before {
    content: @icon-ios-calculator-outline;
  }
}
.icon-ios-calendar {
  &:before {
    content: @icon-ios-calendar;
  }
}
.icon-ios-calendar-outline {
  &:before {
    content: @icon-ios-calendar-outline;
  }
}
.icon-ios-camera {
  &:before {
    content: @icon-ios-camera;
  }
}
.icon-ios-camera-outline {
  &:before {
    content: @icon-ios-camera-outline;
  }
}
.icon-ios-cart {
  &:before {
    content: @icon-ios-cart;
  }
}
.icon-ios-cart-outline {
  &:before {
    content: @icon-ios-cart-outline;
  }
}
.icon-ios-circle-filled {
  &:before {
    content: @icon-ios-circle-filled;
  }
}
.icon-ios-circle-outline {
  &:before {
    content: @icon-ios-circle-outline;
  }
}
.icon-ios-clock {
  &:before {
    content: @icon-ios-clock;
  }
}
.icon-ios-clock-outline {
  &:before {
    content: @icon-ios-clock-outline;
  }
}
.icon-ios-close {
  &:before {
    content: @icon-ios-close;
  }
}
.icon-ios-close-empty {
  &:before {
    content: @icon-ios-close-empty;
  }
}
.icon-ios-close-outline {
  &:before {
    content: @icon-ios-close-outline;
  }
}
.icon-ios-cloud {
  &:before {
    content: @icon-ios-cloud;
  }
}
.icon-ios-cloud-download {
  &:before {
    content: @icon-ios-cloud-download;
  }
}
.icon-ios-cloud-download-outline {
  &:before {
    content: @icon-ios-cloud-download-outline;
  }
}
.icon-ios-cloud-outline {
  &:before {
    content: @icon-ios-cloud-outline;
  }
}
.icon-ios-cloud-upload {
  &:before {
    content: @icon-ios-cloud-upload;
  }
}
.icon-ios-cloud-upload-outline {
  &:before {
    content: @icon-ios-cloud-upload-outline;
  }
}
.icon-ios-cloudy {
  &:before {
    content: @icon-ios-cloudy;
  }
}
.icon-ios-cloudy-night {
  &:before {
    content: @icon-ios-cloudy-night;
  }
}
.icon-ios-cloudy-night-outline {
  &:before {
    content: @icon-ios-cloudy-night-outline;
  }
}
.icon-ios-cloudy-outline {
  &:before {
    content: @icon-ios-cloudy-outline;
  }
}
.icon-ios-cog {
  &:before {
    content: @icon-ios-cog;
  }
}
.icon-ios-cog-outline {
  &:before {
    content: @icon-ios-cog-outline;
  }
}
.icon-ios-color-filter {
  &:before {
    content: @icon-ios-color-filter;
  }
}
.icon-ios-color-filter-outline {
  &:before {
    content: @icon-ios-color-filter-outline;
  }
}
.icon-ios-color-wand {
  &:before {
    content: @icon-ios-color-wand;
  }
}
.icon-ios-color-wand-outline {
  &:before {
    content: @icon-ios-color-wand-outline;
  }
}
.icon-ios-compose {
  &:before {
    content: @icon-ios-compose;
  }
}
.icon-ios-compose-outline {
  &:before {
    content: @icon-ios-compose-outline;
  }
}
.icon-ios-contact {
  &:before {
    content: @icon-ios-contact;
  }
}
.icon-ios-contact-outline {
  &:before {
    content: @icon-ios-contact-outline;
  }
}
.icon-ios-copy {
  &:before {
    content: @icon-ios-copy;
  }
}
.icon-ios-copy-outline {
  &:before {
    content: @icon-ios-copy-outline;
  }
}
.icon-ios-crop {
  &:before {
    content: @icon-ios-crop;
  }
}
.icon-ios-crop-strong {
  &:before {
    content: @icon-ios-crop-strong;
  }
}
.icon-ios-download {
  &:before {
    content: @icon-ios-download;
  }
}
.icon-ios-download-outline {
  &:before {
    content: @icon-ios-download-outline;
  }
}
.icon-ios-drag {
  &:before {
    content: @icon-ios-drag;
  }
}
.icon-ios-email {
  &:before {
    content: @icon-ios-email;
  }
}
.icon-ios-email-outline {
  &:before {
    content: @icon-ios-email-outline;
  }
}
.icon-ios-eye {
  &:before {
    content: @icon-ios-eye;
  }
}
.icon-ios-eye-outline {
  &:before {
    content: @icon-ios-eye-outline;
  }
}
.icon-ios-fastforward {
  &:before {
    content: @icon-ios-fastforward;
  }
}
.icon-ios-fastforward-outline {
  &:before {
    content: @icon-ios-fastforward-outline;
  }
}
.icon-ios-filing {
  &:before {
    content: @icon-ios-filing;
  }
}
.icon-ios-filing-outline {
  &:before {
    content: @icon-ios-filing-outline;
  }
}
.icon-ios-film {
  &:before {
    content: @icon-ios-film;
  }
}
.icon-ios-film-outline {
  &:before {
    content: @icon-ios-film-outline;
  }
}
.icon-ios-flag {
  &:before {
    content: @icon-ios-flag;
  }
}
.icon-ios-flag-outline {
  &:before {
    content: @icon-ios-flag-outline;
  }
}
.icon-ios-flame {
  &:before {
    content: @icon-ios-flame;
  }
}
.icon-ios-flame-outline {
  &:before {
    content: @icon-ios-flame-outline;
  }
}
.icon-ios-flask {
  &:before {
    content: @icon-ios-flask;
  }
}
.icon-ios-flask-outline {
  &:before {
    content: @icon-ios-flask-outline;
  }
}
.icon-ios-flower {
  &:before {
    content: @icon-ios-flower;
  }
}
.icon-ios-flower-outline {
  &:before {
    content: @icon-ios-flower-outline;
  }
}
.icon-ios-folder {
  &:before {
    content: @icon-ios-folder;
  }
}
.icon-ios-folder-outline {
  &:before {
    content: @icon-ios-folder-outline;
  }
}
.icon-ios-football {
  &:before {
    content: @icon-ios-football;
  }
}
.icon-ios-football-outline {
  &:before {
    content: @icon-ios-football-outline;
  }
}
.icon-ios-game-controller-a {
  &:before {
    content: @icon-ios-game-controller-a;
  }
}
.icon-ios-game-controller-a-outline {
  &:before {
    content: @icon-ios-game-controller-a-outline;
  }
}
.icon-ios-game-controller-b {
  &:before {
    content: @icon-ios-game-controller-b;
  }
}
.icon-ios-game-controller-b-outline {
  &:before {
    content: @icon-ios-game-controller-b-outline;
  }
}
.icon-ios-gear {
  &:before {
    content: @icon-ios-gear;
  }
}
.icon-ios-gear-outline {
  &:before {
    content: @icon-ios-gear-outline;
  }
}
.icon-ios-glasses {
  &:before {
    content: @icon-ios-glasses;
  }
}
.icon-ios-glasses-outline {
  &:before {
    content: @icon-ios-glasses-outline;
  }
}
.icon-ios-grid-view {
  &:before {
    content: @icon-ios-grid-view;
  }
}
.icon-ios-grid-view-outline {
  &:before {
    content: @icon-ios-grid-view-outline;
  }
}
.icon-ios-heart {
  &:before {
    content: @icon-ios-heart;
  }
}
.icon-ios-heart-outline {
  &:before {
    content: @icon-ios-heart-outline;
  }
}
.icon-ios-help {
  &:before {
    content: @icon-ios-help;
  }
}
.icon-ios-help-empty {
  &:before {
    content: @icon-ios-help-empty;
  }
}
.icon-ios-help-outline {
  &:before {
    content: @icon-ios-help-outline;
  }
}
.icon-ios-home {
  &:before {
    content: @icon-ios-home;
  }
}
.icon-ios-home-outline {
  &:before {
    content: @icon-ios-home-outline;
  }
}
.icon-ios-chatboxes {
  &:before {
    content: @icon-ios-chatboxes;
  }
}
.icon-ios-chatboxes-outline {
  &:before {
    content: @icon-ios-chatboxes-outline;
  }
}
.icon-ios-chatbubble {
  &:before {
    content: @icon-ios-chatbubble;
  }
}
.icon-ios-chatbubble-outline {
  &:before {
    content: @icon-ios-chatbubble-outline;
  }
}
.icon-ios-checkmark {
  &:before {
    content: @icon-ios-checkmark;
  }
}
.icon-ios-checkmark-empty {
  &:before {
    content: @icon-ios-checkmark-empty;
  }
}
.icon-ios-checkmark-outline {
  &:before {
    content: @icon-ios-checkmark-outline;
  }
}
.icon-ios-infinite {
  &:before {
    content: @icon-ios-infinite;
  }
}
.icon-ios-infinite-outline {
  &:before {
    content: @icon-ios-infinite-outline;
  }
}
.icon-ios-information {
  &:before {
    content: @icon-ios-information;
  }
}
.icon-ios-information-empty {
  &:before {
    content: @icon-ios-information-empty;
  }
}
.icon-ios-information-outline {
  &:before {
    content: @icon-ios-information-outline;
  }
}
.icon-ios-ionic-outline {
  &:before {
    content: @icon-ios-ionic-outline;
  }
}
.icon-ios-keypad {
  &:before {
    content: @icon-ios-keypad;
  }
}
.icon-ios-keypad-outline {
  &:before {
    content: @icon-ios-keypad-outline;
  }
}
.icon-ios-lightbulb {
  &:before {
    content: @icon-ios-lightbulb;
  }
}
.icon-ios-lightbulb-outline {
  &:before {
    content: @icon-ios-lightbulb-outline;
  }
}
.icon-ios-list {
  &:before {
    content: @icon-ios-list;
  }
}
.icon-ios-list-outline {
  &:before {
    content: @icon-ios-list-outline;
  }
}
.icon-ios-location {
  &:before {
    content: @icon-ios-location;
  }
}
.icon-ios-location-outline {
  &:before {
    content: @icon-ios-location-outline;
  }
}
.icon-ios-locked {
  &:before {
    content: @icon-ios-locked;
  }
}
.icon-ios-locked-outline {
  &:before {
    content: @icon-ios-locked-outline;
  }
}
.icon-ios-loop {
  &:before {
    content: @icon-ios-loop;
  }
}
.icon-ios-loop-strong {
  &:before {
    content: @icon-ios-loop-strong;
  }
}
.icon-ios-medical {
  &:before {
    content: @icon-ios-medical;
  }
}
.icon-ios-medical-outline {
  &:before {
    content: @icon-ios-medical-outline;
  }
}
.icon-ios-medkit {
  &:before {
    content: @icon-ios-medkit;
  }
}
.icon-ios-medkit-outline {
  &:before {
    content: @icon-ios-medkit-outline;
  }
}
.icon-ios-mic {
  &:before {
    content: @icon-ios-mic;
  }
}
.icon-ios-mic-off {
  &:before {
    content: @icon-ios-mic-off;
  }
}
.icon-ios-mic-outline {
  &:before {
    content: @icon-ios-mic-outline;
  }
}
.icon-ios-minus {
  &:before {
    content: @icon-ios-minus;
  }
}
.icon-ios-minus-empty {
  &:before {
    content: @icon-ios-minus-empty;
  }
}
.icon-ios-minus-outline {
  &:before {
    content: @icon-ios-minus-outline;
  }
}
.icon-ios-monitor {
  &:before {
    content: @icon-ios-monitor;
  }
}
.icon-ios-monitor-outline {
  &:before {
    content: @icon-ios-monitor-outline;
  }
}
.icon-ios-moon {
  &:before {
    content: @icon-ios-moon;
  }
}
.icon-ios-moon-outline {
  &:before {
    content: @icon-ios-moon-outline;
  }
}
.icon-ios-more {
  &:before {
    content: @icon-ios-more;
  }
}
.icon-ios-more-outline {
  &:before {
    content: @icon-ios-more-outline;
  }
}
.icon-ios-musical-note {
  &:before {
    content: @icon-ios-musical-note;
  }
}
.icon-ios-musical-notes {
  &:before {
    content: @icon-ios-musical-notes;
  }
}
.icon-ios-navigate {
  &:before {
    content: @icon-ios-navigate;
  }
}
.icon-ios-navigate-outline {
  &:before {
    content: @icon-ios-navigate-outline;
  }
}
.icon-ios-nutrition {
  &:before {
    content: @icon-ios-nutrition;
  }
}
.icon-ios-nutrition-outline {
  &:before {
    content: @icon-ios-nutrition-outline;
  }
}
.icon-ios-paper {
  &:before {
    content: @icon-ios-paper;
  }
}
.icon-ios-paper-outline {
  &:before {
    content: @icon-ios-paper-outline;
  }
}
.icon-ios-paperplane {
  &:before {
    content: @icon-ios-paperplane;
  }
}
.icon-ios-paperplane-outline {
  &:before {
    content: @icon-ios-paperplane-outline;
  }
}
.icon-ios-partlysunny {
  &:before {
    content: @icon-ios-partlysunny;
  }
}
.icon-ios-partlysunny-outline {
  &:before {
    content: @icon-ios-partlysunny-outline;
  }
}
.icon-ios-pause {
  &:before {
    content: @icon-ios-pause;
  }
}
.icon-ios-pause-outline {
  &:before {
    content: @icon-ios-pause-outline;
  }
}
.icon-ios-paw {
  &:before {
    content: @icon-ios-paw;
  }
}
.icon-ios-paw-outline {
  &:before {
    content: @icon-ios-paw-outline;
  }
}
.icon-ios-people {
  &:before {
    content: @icon-ios-people;
  }
}
.icon-ios-people-outline {
  &:before {
    content: @icon-ios-people-outline;
  }
}
.icon-ios-person {
  &:before {
    content: @icon-ios-person;
  }
}
.icon-ios-personadd {
  &:before {
    content: @icon-ios-personadd;
  }
}
.icon-ios-personadd-outline {
  &:before {
    content: @icon-ios-personadd-outline;
  }
}
.icon-ios-person-outline {
  &:before {
    content: @icon-ios-person-outline;
  }
}
.icon-ios-photos {
  &:before {
    content: @icon-ios-photos;
  }
}
.icon-ios-photos-outline {
  &:before {
    content: @icon-ios-photos-outline;
  }
}
.icon-ios-pie {
  &:before {
    content: @icon-ios-pie;
  }
}
.icon-ios-pie-outline {
  &:before {
    content: @icon-ios-pie-outline;
  }
}
.icon-ios-pint {
  &:before {
    content: @icon-ios-pint;
  }
}
.icon-ios-pint-outline {
  &:before {
    content: @icon-ios-pint-outline;
  }
}
.icon-ios-play {
  &:before {
    content: @icon-ios-play;
  }
}
.icon-ios-play-outline {
  &:before {
    content: @icon-ios-play-outline;
  }
}
.icon-ios-plus {
  &:before {
    content: @icon-ios-plus;
  }
}
.icon-ios-plus-empty {
  &:before {
    content: @icon-ios-plus-empty;
  }
}
.icon-ios-plus-outline {
  &:before {
    content: @icon-ios-plus-outline;
  }
}
.icon-ios-pricetag {
  &:before {
    content: @icon-ios-pricetag;
  }
}
.icon-ios-pricetag-outline {
  &:before {
    content: @icon-ios-pricetag-outline;
  }
}
.icon-ios-pricetags {
  &:before {
    content: @icon-ios-pricetags;
  }
}
.icon-ios-pricetags-outline {
  &:before {
    content: @icon-ios-pricetags-outline;
  }
}
.icon-ios-printer {
  &:before {
    content: @icon-ios-printer;
  }
}
.icon-ios-printer-outline {
  &:before {
    content: @icon-ios-printer-outline;
  }
}
.icon-ios-pulse {
  &:before {
    content: @icon-ios-pulse;
  }
}
.icon-ios-pulse-strong {
  &:before {
    content: @icon-ios-pulse-strong;
  }
}
.icon-ios-rainy {
  &:before {
    content: @icon-ios-rainy;
  }
}
.icon-ios-rainy-outline {
  &:before {
    content: @icon-ios-rainy-outline;
  }
}
.icon-ios-recording {
  &:before {
    content: @icon-ios-recording;
  }
}
.icon-ios-recording-outline {
  &:before {
    content: @icon-ios-recording-outline;
  }
}
.icon-ios-redo {
  &:before {
    content: @icon-ios-redo;
  }
}
.icon-ios-redo-outline {
  &:before {
    content: @icon-ios-redo-outline;
  }
}
.icon-ios-refresh {
  &:before {
    content: @icon-ios-refresh;
  }
}
.icon-ios-refresh-empty {
  &:before {
    content: @icon-ios-refresh-empty;
  }
}
.icon-ios-refresh-outline {
  &:before {
    content: @icon-ios-refresh-outline;
  }
}
.icon-ios-reload {
  &:before {
    content: @icon-ios-reload;
  }
}
.icon-ios-reverse-camera {
  &:before {
    content: @icon-ios-reverse-camera;
  }
}
.icon-ios-reverse-camera-outline {
  &:before {
    content: @icon-ios-reverse-camera-outline;
  }
}
.icon-ios-rewind {
  &:before {
    content: @icon-ios-rewind;
  }
}
.icon-ios-rewind-outline {
  &:before {
    content: @icon-ios-rewind-outline;
  }
}
.icon-ios-rose {
  &:before {
    content: @icon-ios-rose;
  }
}
.icon-ios-rose-outline {
  &:before {
    content: @icon-ios-rose-outline;
  }
}
.icon-ios-search {
  &:before {
    content: @icon-ios-search;
  }
}
.icon-ios-search-strong {
  &:before {
    content: @icon-ios-search-strong;
  }
}
.icon-ios-settings {
  &:before {
    content: @icon-ios-settings;
  }
}
.icon-ios-settings-strong {
  &:before {
    content: @icon-ios-settings-strong;
  }
}
.icon-ios-shuffle {
  &:before {
    content: @icon-ios-shuffle;
  }
}
.icon-ios-shuffle-strong {
  &:before {
    content: @icon-ios-shuffle-strong;
  }
}
.icon-ios-skipbackward {
  &:before {
    content: @icon-ios-skipbackward;
  }
}
.icon-ios-skipbackward-outline {
  &:before {
    content: @icon-ios-skipbackward-outline;
  }
}
.icon-ios-skipforward {
  &:before {
    content: @icon-ios-skipforward;
  }
}
.icon-ios-skipforward-outline {
  &:before {
    content: @icon-ios-skipforward-outline;
  }
}
.icon-ios-snowy {
  &:before {
    content: @icon-ios-snowy;
  }
}
.icon-ios-speedometer {
  &:before {
    content: @icon-ios-speedometer;
  }
}
.icon-ios-speedometer-outline {
  &:before {
    content: @icon-ios-speedometer-outline;
  }
}
.icon-ios-star {
  &:before {
    content: @icon-ios-star;
  }
}
.icon-ios-star-half {
  &:before {
    content: @icon-ios-star-half;
  }
}
.icon-ios-star-outline {
  &:before {
    content: @icon-ios-star-outline;
  }
}
.icon-ios-stopwatch {
  &:before {
    content: @icon-ios-stopwatch;
  }
}
.icon-ios-stopwatch-outline {
  &:before {
    content: @icon-ios-stopwatch-outline;
  }
}
.icon-ios-sunny {
  &:before {
    content: @icon-ios-sunny;
  }
}
.icon-ios-sunny-outline {
  &:before {
    content: @icon-ios-sunny-outline;
  }
}
.icon-ios-telephone {
  &:before {
    content: @icon-ios-telephone;
  }
}
.icon-ios-telephone-outline {
  &:before {
    content: @icon-ios-telephone-outline;
  }
}
.icon-ios-tennisball {
  &:before {
    content: @icon-ios-tennisball;
  }
}
.icon-ios-tennisball-outline {
  &:before {
    content: @icon-ios-tennisball-outline;
  }
}
.icon-ios-thunderstorm {
  &:before {
    content: @icon-ios-thunderstorm;
  }
}
.icon-ios-thunderstorm-outline {
  &:before {
    content: @icon-ios-thunderstorm-outline;
  }
}
.icon-ios-time {
  &:before {
    content: @icon-ios-time;
  }
}
.icon-ios-time-outline {
  &:before {
    content: @icon-ios-time-outline;
  }
}
.icon-ios-timer {
  &:before {
    content: @icon-ios-timer;
  }
}
.icon-ios-timer-outline {
  &:before {
    content: @icon-ios-timer-outline;
  }
}
.icon-ios-toggle {
  &:before {
    content: @icon-ios-toggle;
  }
}
.icon-ios-toggle-outline {
  &:before {
    content: @icon-ios-toggle-outline;
  }
}
.icon-ios-trash {
  &:before {
    content: @icon-ios-trash;
  }
}
.icon-ios-trash-outline {
  &:before {
    content: @icon-ios-trash-outline;
  }
}
.icon-ios-undo {
  &:before {
    content: @icon-ios-undo;
  }
}
.icon-ios-undo-outline {
  &:before {
    content: @icon-ios-undo-outline;
  }
}
.icon-ios-unlocked {
  &:before {
    content: @icon-ios-unlocked;
  }
}
.icon-ios-unlocked-outline {
  &:before {
    content: @icon-ios-unlocked-outline;
  }
}
.icon-ios-upload {
  &:before {
    content: @icon-ios-upload;
  }
}
.icon-ios-upload-outline {
  &:before {
    content: @icon-ios-upload-outline;
  }
}
.icon-ios-videocam {
  &:before {
    content: @icon-ios-videocam;
  }
}
.icon-ios-videocam-outline {
  &:before {
    content: @icon-ios-videocam-outline;
  }
}
.icon-ios-volume-high {
  &:before {
    content: @icon-ios-volume-high;
  }
}
.icon-ios-volume-low {
  &:before {
    content: @icon-ios-volume-low;
  }
}
.icon-ios-wineglass {
  &:before {
    content: @icon-ios-wineglass;
  }
}
.icon-ios-wineglass-outline {
  &:before {
    content: @icon-ios-wineglass-outline;
  }
}
.icon-ios-world {
  &:before {
    content: @icon-ios-world;
  }
}
.icon-ios-world-outline {
  &:before {
    content: @icon-ios-world-outline;
  }
}
.icon-ipad {
  &:before {
    content: @icon-ipad;
  }
}
.icon-iphone {
  &:before {
    content: @icon-iphone;
  }
}
.icon-ipod {
  &:before {
    content: @icon-ipod;
  }
}
.icon-jet {
  &:before {
    content: @icon-jet;
  }
}
.icon-key {
  &:before {
    content: @icon-key;
  }
}
.icon-knife {
  &:before {
    content: @icon-knife;
  }
}
.icon-laptop {
  &:before {
    content: @icon-laptop;
  }
}
.icon-leaf {
  &:before {
    content: @icon-leaf;
  }
}
.icon-levels {
  &:before {
    content: @icon-levels;
  }
}
.icon-lightbulb {
  &:before {
    content: @icon-lightbulb;
  }
}
.icon-link {
  &:before {
    content: @icon-link;
  }
}
.icon-load-a {
  &:before {
    content: @icon-load-a;
  }
}
.icon-load-b {
  &:before {
    content: @icon-load-b;
  }
}
.icon-load-c {
  &:before {
    content: @icon-load-c;
  }
}
.icon-load-d {
  &:before {
    content: @icon-load-d;
  }
}
.icon-location {
  &:before {
    content: @icon-location;
  }
}
.icon-lock-combination {
  &:before {
    content: @icon-lock-combination;
  }
}
.icon-locked {
  &:before {
    content: @icon-locked;
  }
}
.icon-log-in {
  &:before {
    content: @icon-log-in;
  }
}
.icon-log-out {
  &:before {
    content: @icon-log-out;
  }
}
.icon-loop {
  &:before {
    content: @icon-loop;
  }
}
.icon-magnet {
  &:before {
    content: @icon-magnet;
  }
}
.icon-male {
  &:before {
    content: @icon-male;
  }
}
.icon-man {
  &:before {
    content: @icon-man;
  }
}
.icon-map {
  &:before {
    content: @icon-map;
  }
}
.icon-medkit {
  &:before {
    content: @icon-medkit;
  }
}
.icon-merge {
  &:before {
    content: @icon-merge;
  }
}
.icon-mic-a {
  &:before {
    content: @icon-mic-a;
  }
}
.icon-mic-b {
  &:before {
    content: @icon-mic-b;
  }
}
.icon-mic-c {
  &:before {
    content: @icon-mic-c;
  }
}
.icon-minus {
  &:before {
    content: @icon-minus;
  }
}
.icon-minus-circled {
  &:before {
    content: @icon-minus-circled;
  }
}
.icon-minus-round {
  &:before {
    content: @icon-minus-round;
  }
}
.icon-model-s {
  &:before {
    content: @icon-model-s;
  }
}
.icon-monitor {
  &:before {
    content: @icon-monitor;
  }
}
.icon-more {
  &:before {
    content: @icon-more;
  }
}
.icon-mouse {
  &:before {
    content: @icon-mouse;
  }
}
.icon-music-note {
  &:before {
    content: @icon-music-note;
  }
}
.icon-navicon {
  &:before {
    content: @icon-navicon;
  }
}
.icon-navicon-round {
  &:before {
    content: @icon-navicon-round;
  }
}
.icon-navigate {
  &:before {
    content: @icon-navigate;
  }
}
.icon-network {
  &:before {
    content: @icon-network;
  }
}
.icon-no-smoking {
  &:before {
    content: @icon-no-smoking;
  }
}
.icon-nuclear {
  &:before {
    content: @icon-nuclear;
  }
}
.icon-outlet {
  &:before {
    content: @icon-outlet;
  }
}
.icon-paintbrush {
  &:before {
    content: @icon-paintbrush;
  }
}
.icon-paintbucket {
  &:before {
    content: @icon-paintbucket;
  }
}
.icon-paper-airplane {
  &:before {
    content: @icon-paper-airplane;
  }
}
.icon-paperclip {
  &:before {
    content: @icon-paperclip;
  }
}
.icon-pause {
  &:before {
    content: @icon-pause;
  }
}
.icon-person {
  &:before {
    content: @icon-person;
  }
}
.icon-person-add {
  &:before {
    content: @icon-person-add;
  }
}
.icon-person-stalker {
  &:before {
    content: @icon-person-stalker;
  }
}
.icon-pie-graph {
  &:before {
    content: @icon-pie-graph;
  }
}
.icon-pin {
  &:before {
    content: @icon-pin;
  }
}
.icon-pinpoint {
  &:before {
    content: @icon-pinpoint;
  }
}
.icon-pizza {
  &:before {
    content: @icon-pizza;
  }
}
.icon-plane {
  &:before {
    content: @icon-plane;
  }
}
.icon-planet {
  &:before {
    content: @icon-planet;
  }
}
.icon-play {
  &:before {
    content: @icon-play;
  }
}
.icon-playstation {
  &:before {
    content: @icon-playstation;
  }
}
.icon-plus {
  &:before {
    content: @icon-plus;
  }
}
.icon-plus-circled {
  &:before {
    content: @icon-plus-circled;
  }
}
.icon-plus-round {
  &:before {
    content: @icon-plus-round;
  }
}
.icon-podium {
  &:before {
    content: @icon-podium;
  }
}
.icon-pound {
  &:before {
    content: @icon-pound;
  }
}
.icon-power {
  &:before {
    content: @icon-power;
  }
}
.icon-pricetag {
  &:before {
    content: @icon-pricetag;
  }
}
.icon-pricetags {
  &:before {
    content: @icon-pricetags;
  }
}
.icon-printer {
  &:before {
    content: @icon-printer;
  }
}
.icon-pull-request {
  &:before {
    content: @icon-pull-request;
  }
}
.icon-qr-scanner {
  &:before {
    content: @icon-qr-scanner;
  }
}
.icon-quote {
  &:before {
    content: @icon-quote;
  }
}
.icon-radio-waves {
  &:before {
    content: @icon-radio-waves;
  }
}
.icon-record {
  &:before {
    content: @icon-record;
  }
}
.icon-refresh {
  &:before {
    content: @icon-refresh;
  }
}
.icon-reply {
  &:before {
    content: @icon-reply;
  }
}
.icon-reply-all {
  &:before {
    content: @icon-reply-all;
  }
}
.icon-ribbon-a {
  &:before {
    content: @icon-ribbon-a;
  }
}
.icon-ribbon-b {
  &:before {
    content: @icon-ribbon-b;
  }
}
.icon-sad {
  &:before {
    content: @icon-sad;
  }
}
.icon-sad-outline {
  &:before {
    content: @icon-sad-outline;
  }
}
.icon-scissors {
  &:before {
    content: @icon-scissors;
  }
}
.icon-search {
  &:before {
    content: @icon-search;
  }
}
.icon-settings {
  &:before {
    content: @icon-settings;
  }
}
.icon-share {
  &:before {
    content: @icon-share;
  }
}
.icon-shuffle {
  &:before {
    content: @icon-shuffle;
  }
}
.icon-skip-backward {
  &:before {
    content: @icon-skip-backward;
  }
}
.icon-skip-forward {
  &:before {
    content: @icon-skip-forward;
  }
}
.icon-social-android {
  &:before {
    content: @icon-social-android;
  }
}
.icon-social-android-outline {
  &:before {
    content: @icon-social-android-outline;
  }
}
.icon-social-angular {
  &:before {
    content: @icon-social-angular;
  }
}
.icon-social-angular-outline {
  &:before {
    content: @icon-social-angular-outline;
  }
}
.icon-social-apple {
  &:before {
    content: @icon-social-apple;
  }
}
.icon-social-apple-outline {
  &:before {
    content: @icon-social-apple-outline;
  }
}
.icon-social-bitcoin {
  &:before {
    content: @icon-social-bitcoin;
  }
}
.icon-social-bitcoin-outline {
  &:before {
    content: @icon-social-bitcoin-outline;
  }
}
.icon-social-buffer {
  &:before {
    content: @icon-social-buffer;
  }
}
.icon-social-buffer-outline {
  &:before {
    content: @icon-social-buffer-outline;
  }
}
.icon-social-codepen {
  &:before {
    content: @icon-social-codepen;
  }
}
.icon-social-codepen-outline {
  &:before {
    content: @icon-social-codepen-outline;
  }
}
.icon-social-css3 {
  &:before {
    content: @icon-social-css3;
  }
}
.icon-social-css3-outline {
  &:before {
    content: @icon-social-css3-outline;
  }
}
.icon-social-designernews {
  &:before {
    content: @icon-social-designernews;
  }
}
.icon-social-designernews-outline {
  &:before {
    content: @icon-social-designernews-outline;
  }
}
.icon-social-dribbble {
  &:before {
    content: @icon-social-dribbble;
  }
}
.icon-social-dribbble-outline {
  &:before {
    content: @icon-social-dribbble-outline;
  }
}
.icon-social-dropbox {
  &:before {
    content: @icon-social-dropbox;
  }
}
.icon-social-dropbox-outline {
  &:before {
    content: @icon-social-dropbox-outline;
  }
}
.icon-social-euro {
  &:before {
    content: @icon-social-euro;
  }
}
.icon-social-euro-outline {
  &:before {
    content: @icon-social-euro-outline;
  }
}
.icon-social-facebook {
  &:before {
    content: @icon-social-facebook;
  }
}
.icon-social-facebook-outline {
  &:before {
    content: @icon-social-facebook-outline;
  }
}
.icon-social-foursquare {
  &:before {
    content: @icon-social-foursquare;
  }
}
.icon-social-foursquare-outline {
  &:before {
    content: @icon-social-foursquare-outline;
  }
}
.icon-social-freebsd-devil {
  &:before {
    content: @icon-social-freebsd-devil;
  }
}
.icon-social-github {
  &:before {
    content: @icon-social-github;
  }
}
.icon-social-github-outline {
  &:before {
    content: @icon-social-github-outline;
  }
}
.icon-social-google {
  &:before {
    content: @icon-social-google;
  }
}
.icon-social-google-outline {
  &:before {
    content: @icon-social-google-outline;
  }
}
.icon-social-googleplus {
  &:before {
    content: @icon-social-googleplus;
  }
}
.icon-social-googleplus-outline {
  &:before {
    content: @icon-social-googleplus-outline;
  }
}
.icon-social-hackernews {
  &:before {
    content: @icon-social-hackernews;
  }
}
.icon-social-hackernews-outline {
  &:before {
    content: @icon-social-hackernews-outline;
  }
}
.icon-social-html5 {
  &:before {
    content: @icon-social-html5;
  }
}
.icon-social-html5-outline {
  &:before {
    content: @icon-social-html5-outline;
  }
}
.icon-social-chrome {
  &:before {
    content: @icon-social-chrome;
  }
}
.icon-social-chrome-outline {
  &:before {
    content: @icon-social-chrome-outline;
  }
}
.icon-social-instagram {
  &:before {
    content: @icon-social-instagram;
  }
}
.icon-social-instagram-outline {
  &:before {
    content: @icon-social-instagram-outline;
  }
}
.icon-social-javascript {
  &:before {
    content: @icon-social-javascript;
  }
}
.icon-social-javascript-outline {
  &:before {
    content: @icon-social-javascript-outline;
  }
}
.icon-social-linkedin {
  &:before {
    content: @icon-social-linkedin;
  }
}
.icon-social-linkedin-outline {
  &:before {
    content: @icon-social-linkedin-outline;
  }
}
.icon-social-markdown {
  &:before {
    content: @icon-social-markdown;
  }
}
.icon-social-nodejs {
  &:before {
    content: @icon-social-nodejs;
  }
}
.icon-social-octocat {
  &:before {
    content: @icon-social-octocat;
  }
}
.icon-social-pinterest {
  &:before {
    content: @icon-social-pinterest;
  }
}
.icon-social-pinterest-outline {
  &:before {
    content: @icon-social-pinterest-outline;
  }
}
.icon-social-python {
  &:before {
    content: @icon-social-python;
  }
}
.icon-social-reddit {
  &:before {
    content: @icon-social-reddit;
  }
}
.icon-social-reddit-outline {
  &:before {
    content: @icon-social-reddit-outline;
  }
}
.icon-social-rss {
  &:before {
    content: @icon-social-rss;
  }
}
.icon-social-rss-outline {
  &:before {
    content: @icon-social-rss-outline;
  }
}
.icon-social-sass {
  &:before {
    content: @icon-social-sass;
  }
}
.icon-social-skype {
  &:before {
    content: @icon-social-skype;
  }
}
.icon-social-skype-outline {
  &:before {
    content: @icon-social-skype-outline;
  }
}
.icon-social-snapchat {
  &:before {
    content: @icon-social-snapchat;
  }
}
.icon-social-snapchat-outline {
  &:before {
    content: @icon-social-snapchat-outline;
  }
}
.icon-social-tumblr {
  &:before {
    content: @icon-social-tumblr;
  }
}
.icon-social-tumblr-outline {
  &:before {
    content: @icon-social-tumblr-outline;
  }
}
.icon-social-tux {
  &:before {
    content: @icon-social-tux;
  }
}
.icon-social-twitch {
  &:before {
    content: @icon-social-twitch;
  }
}
.icon-social-twitch-outline {
  &:before {
    content: @icon-social-twitch-outline;
  }
}
.icon-social-twitter {
  &:before {
    content: @icon-social-twitter;
  }
}
.icon-social-twitter-outline {
  &:before {
    content: @icon-social-twitter-outline;
  }
}
.icon-social-usd {
  &:before {
    content: @icon-social-usd;
  }
}
.icon-social-usd-outline {
  &:before {
    content: @icon-social-usd-outline;
  }
}
.icon-social-vimeo {
  &:before {
    content: @icon-social-vimeo;
  }
}
.icon-social-vimeo-outline {
  &:before {
    content: @icon-social-vimeo-outline;
  }
}
.icon-social-whatsapp {
  &:before {
    content: @icon-social-whatsapp;
  }
}
.icon-social-whatsapp-outline {
  &:before {
    content: @icon-social-whatsapp-outline;
  }
}
.icon-social-windows {
  &:before {
    content: @icon-social-windows;
  }
}
.icon-social-windows-outline {
  &:before {
    content: @icon-social-windows-outline;
  }
}
.icon-social-wordpress {
  &:before {
    content: @icon-social-wordpress;
  }
}
.icon-social-wordpress-outline {
  &:before {
    content: @icon-social-wordpress-outline;
  }
}
.icon-social-yahoo {
  &:before {
    content: @icon-social-yahoo;
  }
}
.icon-social-yahoo-outline {
  &:before {
    content: @icon-social-yahoo-outline;
  }
}
.icon-social-yen {
  &:before {
    content: @icon-social-yen;
  }
}
.icon-social-yen-outline {
  &:before {
    content: @icon-social-yen-outline;
  }
}
.icon-social-youtube {
  &:before {
    content: @icon-social-youtube;
  }
}
.icon-social-youtube-outline {
  &:before {
    content: @icon-social-youtube-outline;
  }
}
.icon-soup-can {
  &:before {
    content: @icon-soup-can;
  }
}
.icon-soup-can-outline {
  &:before {
    content: @icon-soup-can-outline;
  }
}
.icon-speakerphone {
  &:before {
    content: @icon-speakerphone;
  }
}
.icon-speedometer {
  &:before {
    content: @icon-speedometer;
  }
}
.icon-spoon {
  &:before {
    content: @icon-spoon;
  }
}
.icon-star {
  &:before {
    content: @icon-star;
  }
}
.icon-stats-bars {
  &:before {
    content: @icon-stats-bars;
  }
}
.icon-steam {
  &:before {
    content: @icon-steam;
  }
}
.icon-stop {
  &:before {
    content: @icon-stop;
  }
}
.icon-thermometer {
  &:before {
    content: @icon-thermometer;
  }
}
.icon-thumbsdown {
  &:before {
    content: @icon-thumbsdown;
  }
}
.icon-thumbsup {
  &:before {
    content: @icon-thumbsup;
  }
}
.icon-toggle {
  &:before {
    content: @icon-toggle;
  }
}
.icon-toggle-filled {
  &:before {
    content: @icon-toggle-filled;
  }
}
.icon-transgender {
  &:before {
    content: @icon-transgender;
  }
}
.icon-trash-a {
  &:before {
    content: @icon-trash-a;
  }
}
.icon-trash-b {
  &:before {
    content: @icon-trash-b;
  }
}
.icon-trophy {
  &:before {
    content: @icon-trophy;
  }
}
.icon-tshirt {
  &:before {
    content: @icon-tshirt;
  }
}
.icon-tshirt-outline {
  &:before {
    content: @icon-tshirt-outline;
  }
}
.icon-umbrella {
  &:before {
    content: @icon-umbrella;
  }
}
.icon-university {
  &:before {
    content: @icon-university;
  }
}
.icon-unlocked {
  &:before {
    content: @icon-unlocked;
  }
}
.icon-upload {
  &:before {
    content: @icon-upload;
  }
}
.icon-usb {
  &:before {
    content: @icon-usb;
  }
}
.icon-videocamera {
  &:before {
    content: @icon-videocamera;
  }
}
.icon-volume-high {
  &:before {
    content: @icon-volume-high;
  }
}
.icon-volume-low {
  &:before {
    content: @icon-volume-low;
  }
}
.icon-volume-medium {
  &:before {
    content: @icon-volume-medium;
  }
}
.icon-volume-mute {
  &:before {
    content: @icon-volume-mute;
  }
}
.icon-wand {
  &:before {
    content: @icon-wand;
  }
}
.icon-waterdrop {
  &:before {
    content: @icon-waterdrop;
  }
}
.icon-wifi {
  &:before {
    content: @icon-wifi;
  }
}
.icon-wineglass {
  &:before {
    content: @icon-wineglass;
  }
}
.icon-woman {
  &:before {
    content: @icon-woman;
  }
}
.icon-wrench {
  &:before {
    content: @icon-wrench;
  }
}
.icon-xbox {
  &:before {
    content: @icon-xbox;
  }
}

