@font-face {
  font-family: 'icons';
  src:  url('fonts/icons.eot?wy4gml');
  src:  url('fonts/icons.eot?wy4gml#iefix') format('embedded-opentype'),
    url('fonts/icons.ttf?wy4gml') format('truetype'),
    url('fonts/icons.woff?wy4gml') format('woff'),
    url('fonts/icons.svg?wy4gml#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-flag-cr:before {
  content: "\e900";
}
.icon-map-cr:before {
  content: "\e901";
}
.icon-xart:before {
  content: "\e80c";
}
.icon-alert:before {
  content: "\e902";
}
.icon-alert-circled:before {
  content: "\e903";
}
.icon-android-add:before {
  content: "\e904";
}
.icon-android-add-circle:before {
  content: "\e905";
}
.icon-android-alarm-clock:before {
  content: "\e906";
}
.icon-android-alert:before {
  content: "\e907";
}
.icon-android-apps:before {
  content: "\e908";
}
.icon-android-archive:before {
  content: "\e909";
}
.icon-android-arrow-back:before {
  content: "\e90a";
}
.icon-android-arrow-down:before {
  content: "\e90b";
}
.icon-android-arrow-dropdown:before {
  content: "\e90c";
}
.icon-android-arrow-dropdown-circle:before {
  content: "\e90d";
}
.icon-android-arrow-dropleft:before {
  content: "\e90e";
}
.icon-android-arrow-dropleft-circle:before {
  content: "\e90f";
}
.icon-android-arrow-dropright:before {
  content: "\e910";
}
.icon-android-arrow-dropright-circle:before {
  content: "\e911";
}
.icon-android-arrow-dropup:before {
  content: "\e912";
}
.icon-android-arrow-dropup-circle:before {
  content: "\e913";
}
.icon-android-arrow-forward:before {
  content: "\e914";
}
.icon-android-arrow-up:before {
  content: "\e915";
}
.icon-android-attach:before {
  content: "\e916";
}
.icon-android-bar:before {
  content: "\e917";
}
.icon-android-bicycle:before {
  content: "\e918";
}
.icon-android-boat:before {
  content: "\e919";
}
.icon-android-bookmark:before {
  content: "\e91a";
}
.icon-android-bulb:before {
  content: "\e91b";
}
.icon-android-bus:before {
  content: "\e91c";
}
.icon-android-calendar:before {
  content: "\e91d";
}
.icon-android-call:before {
  content: "\e91e";
}
.icon-android-camera:before {
  content: "\e91f";
}
.icon-android-cancel:before {
  content: "\e920";
}
.icon-android-car:before {
  content: "\e921";
}
.icon-android-cart:before {
  content: "\e922";
}
.icon-android-clipboard:before {
  content: "\e923";
}
.icon-android-close:before {
  content: "\e924";
}
.icon-android-cloud:before {
  content: "\e925";
}
.icon-android-cloud-circle:before {
  content: "\e926";
}
.icon-android-cloud-done:before {
  content: "\e927";
}
.icon-android-cloud-outline:before {
  content: "\e928";
}
.icon-android-color-palette:before {
  content: "\e929";
}
.icon-android-compass:before {
  content: "\e92a";
}
.icon-android-contact:before {
  content: "\e92b";
}
.icon-android-contacts:before {
  content: "\e92c";
}
.icon-android-contract:before {
  content: "\e92d";
}
.icon-android-create:before {
  content: "\e92e";
}
.icon-android-delete:before {
  content: "\e92f";
}
.icon-android-desktop:before {
  content: "\e930";
}
.icon-android-document:before {
  content: "\e931";
}
.icon-android-done:before {
  content: "\e932";
}
.icon-android-done-all:before {
  content: "\e933";
}
.icon-android-download:before {
  content: "\e934";
}
.icon-android-drafts:before {
  content: "\e935";
}
.icon-android-exit:before {
  content: "\e936";
}
.icon-android-expand:before {
  content: "\e937";
}
.icon-android-favorite:before {
  content: "\e938";
}
.icon-android-favorite-outline:before {
  content: "\e939";
}
.icon-android-film:before {
  content: "\e93a";
}
.icon-android-folder:before {
  content: "\e93b";
}
.icon-android-folder-open:before {
  content: "\e93c";
}
.icon-android-funnel:before {
  content: "\e93d";
}
.icon-android-globe:before {
  content: "\e93e";
}
.icon-android-hand:before {
  content: "\e93f";
}
.icon-android-hangout:before {
  content: "\e940";
}
.icon-android-happy:before {
  content: "\e941";
}
.icon-android-home:before {
  content: "\e942";
}
.icon-android-chat:before {
  content: "\e943";
}
.icon-android-checkbox:before {
  content: "\e944";
}
.icon-android-checkbox-blank:before {
  content: "\e945";
}
.icon-android-checkbox-outline:before {
  content: "\e946";
}
.icon-android-checkbox-outline-blank:before {
  content: "\e947";
}
.icon-android-checkmark-circle:before {
  content: "\e948";
}
.icon-android-image:before {
  content: "\e949";
}
.icon-android-laptop:before {
  content: "\e94a";
}
.icon-android-list:before {
  content: "\e94b";
}
.icon-android-locate:before {
  content: "\e94c";
}
.icon-android-lock:before {
  content: "\e94d";
}
.icon-android-mail:before {
  content: "\e94e";
}
.icon-android-map:before {
  content: "\e94f";
}
.icon-android-menu:before {
  content: "\e950";
}
.icon-android-microphone:before {
  content: "\e951";
}
.icon-android-microphone-off:before {
  content: "\e952";
}
.icon-android-more-horizontal:before {
  content: "\e953";
}
.icon-android-more-vertical:before {
  content: "\e954";
}
.icon-android-navigate:before {
  content: "\e955";
}
.icon-android-notifications:before {
  content: "\e956";
}
.icon-android-notifications-none:before {
  content: "\e957";
}
.icon-android-notifications-off:before {
  content: "\e958";
}
.icon-android-open:before {
  content: "\e959";
}
.icon-android-options:before {
  content: "\e95a";
}
.icon-android-people:before {
  content: "\e95b";
}
.icon-android-person:before {
  content: "\e95c";
}
.icon-android-person-add:before {
  content: "\e95d";
}
.icon-android-phone-landscape:before {
  content: "\e95e";
}
.icon-android-phone-portrait:before {
  content: "\e95f";
}
.icon-android-pin:before {
  content: "\e960";
}
.icon-android-plane:before {
  content: "\e961";
}
.icon-android-playstore:before {
  content: "\e962";
}
.icon-android-print:before {
  content: "\e963";
}
.icon-android-radio-button-off:before {
  content: "\e964";
}
.icon-android-radio-button-on:before {
  content: "\e965";
}
.icon-android-refresh:before {
  content: "\e966";
}
.icon-android-remove:before {
  content: "\e967";
}
.icon-android-remove-circle:before {
  content: "\e968";
}
.icon-android-restaurant:before {
  content: "\e969";
}
.icon-android-sad:before {
  content: "\e96a";
}
.icon-android-search:before {
  content: "\e96b";
}
.icon-android-send:before {
  content: "\e96c";
}
.icon-android-settings:before {
  content: "\e96d";
}
.icon-android-share:before {
  content: "\e96e";
}
.icon-android-share-alt:before {
  content: "\e96f";
}
.icon-android-star:before {
  content: "\e970";
}
.icon-android-star-half:before {
  content: "\e971";
}
.icon-android-star-outline:before {
  content: "\e972";
}
.icon-android-stopwatch:before {
  content: "\e973";
}
.icon-android-subway:before {
  content: "\e974";
}
.icon-android-sunny:before {
  content: "\e975";
}
.icon-android-sync:before {
  content: "\e976";
}
.icon-android-textsms:before {
  content: "\e977";
}
.icon-android-time:before {
  content: "\e978";
}
.icon-android-train:before {
  content: "\e979";
}
.icon-android-unlock:before {
  content: "\e97a";
}
.icon-android-upload:before {
  content: "\e97b";
}
.icon-android-volume-down:before {
  content: "\e97c";
}
.icon-android-volume-mute:before {
  content: "\e97d";
}
.icon-android-volume-off:before {
  content: "\e97e";
}
.icon-android-volume-up:before {
  content: "\e97f";
}
.icon-android-walk:before {
  content: "\e980";
}
.icon-android-warning:before {
  content: "\e981";
}
.icon-android-watch:before {
  content: "\e982";
}
.icon-android-wifi:before {
  content: "\e983";
}
.icon-aperture:before {
  content: "\e984";
}
.icon-archive:before {
  content: "\e985";
}
.icon-arrow-down-a:before {
  content: "\e986";
}
.icon-arrow-down-b:before {
  content: "\e987";
}
.icon-arrow-down-c:before {
  content: "\e988";
}
.icon-arrow-expand:before {
  content: "\e989";
}
.icon-arrow-graph-down-left:before {
  content: "\e98a";
}
.icon-arrow-graph-down-right:before {
  content: "\e98b";
}
.icon-arrow-graph-up-left:before {
  content: "\e98c";
}
.icon-arrow-graph-up-right:before {
  content: "\e98d";
}
.icon-arrow-left-a:before {
  content: "\e98e";
}
.icon-arrow-left-b:before {
  content: "\e98f";
}
.icon-arrow-left-c:before {
  content: "\e990";
}
.icon-arrow-move:before {
  content: "\e991";
}
.icon-arrow-resize:before {
  content: "\e992";
}
.icon-arrow-return-left:before {
  content: "\e993";
}
.icon-arrow-return-right:before {
  content: "\e994";
}
.icon-arrow-right-a:before {
  content: "\e995";
}
.icon-arrow-right-b:before {
  content: "\e996";
}
.icon-arrow-right-c:before {
  content: "\e997";
}
.icon-arrow-shrink:before {
  content: "\e998";
}
.icon-arrow-swap:before {
  content: "\e999";
}
.icon-arrow-up-a:before {
  content: "\e99a";
}
.icon-arrow-up-b:before {
  content: "\e99b";
}
.icon-arrow-up-c:before {
  content: "\e99c";
}
.icon-asterisk:before {
  content: "\e99d";
}
.icon-at:before {
  content: "\e99e";
}
.icon-backspace:before {
  content: "\e99f";
}
.icon-backspace-outline:before {
  content: "\e9a0";
}
.icon-bag:before {
  content: "\e9a1";
}
.icon-battery-empty:before {
  content: "\e9a2";
}
.icon-battery-full:before {
  content: "\e9a3";
}
.icon-battery-half:before {
  content: "\e9a4";
}
.icon-battery-charging:before {
  content: "\e9a5";
}
.icon-battery-low:before {
  content: "\e9a6";
}
.icon-beaker:before {
  content: "\e9a7";
}
.icon-beer:before {
  content: "\e9a8";
}
.icon-bluetooth:before {
  content: "\e9a9";
}
.icon-bonfire:before {
  content: "\e9aa";
}
.icon-bookmark:before {
  content: "\e9ab";
}
.icon-bowtie:before {
  content: "\e9ac";
}
.icon-briefcase:before {
  content: "\e9ad";
}
.icon-bug:before {
  content: "\e9ae";
}
.icon-calculator:before {
  content: "\e9af";
}
.icon-calendar:before {
  content: "\e9b0";
}
.icon-camera:before {
  content: "\e9b1";
}
.icon-card:before {
  content: "\e9b2";
}
.icon-cash:before {
  content: "\e9b3";
}
.icon-clipboard:before {
  content: "\e9b4";
}
.icon-clock:before {
  content: "\e9b5";
}
.icon-close:before {
  content: "\e9b6";
}
.icon-close-circled:before {
  content: "\e9b7";
}
.icon-closed-captioning:before {
  content: "\e9b8";
}
.icon-close-round:before {
  content: "\e9b9";
}
.icon-cloud:before {
  content: "\e9ba";
}
.icon-code:before {
  content: "\e9bb";
}
.icon-code-download:before {
  content: "\e9bc";
}
.icon-code-working:before {
  content: "\e9bd";
}
.icon-coffee:before {
  content: "\e9be";
}
.icon-compass:before {
  content: "\e9bf";
}
.icon-compose:before {
  content: "\e9c0";
}
.icon-connection-bars:before {
  content: "\e9c1";
}
.icon-contrast:before {
  content: "\e9c2";
}
.icon-crop:before {
  content: "\e9c3";
}
.icon-cube:before {
  content: "\e9c4";
}
.icon-disc:before {
  content: "\e9c5";
}
.icon-document:before {
  content: "\e9c6";
}
.icon-document-text:before {
  content: "\e9c7";
}
.icon-drag:before {
  content: "\e9c8";
}
.icon-earth:before {
  content: "\e9c9";
}
.icon-easel:before {
  content: "\e9ca";
}
.icon-edit:before {
  content: "\e9cb";
}
.icon-egg:before {
  content: "\e9cc";
}
.icon-eject:before {
  content: "\e9cd";
}
.icon-email:before {
  content: "\e9ce";
}
.icon-email-unread:before {
  content: "\e9cf";
}
.icon-erlenmeyer-flask:before {
  content: "\e9d0";
}
.icon-erlenmeyer-flask-bubbles:before {
  content: "\e9d1";
}
.icon-eye:before {
  content: "\e9d2";
}
.icon-eye-disabled:before {
  content: "\e9d3";
}
.icon-female:before {
  content: "\e9d4";
}
.icon-filing:before {
  content: "\e9d5";
}
.icon-film-marker:before {
  content: "\e9d6";
}
.icon-fireball:before {
  content: "\e9d7";
}
.icon-flag:before {
  content: "\e9d8";
}
.icon-flame:before {
  content: "\e9d9";
}
.icon-flash:before {
  content: "\e9da";
}
.icon-flash-off:before {
  content: "\e9db";
}
.icon-folder:before {
  content: "\e9dc";
}
.icon-fork:before {
  content: "\e9dd";
}
.icon-fork-repo:before {
  content: "\e9de";
}
.icon-forward:before {
  content: "\e9df";
}
.icon-funnel:before {
  content: "\e9e0";
}
.icon-gear-a:before {
  content: "\e9e1";
}
.icon-gear-b:before {
  content: "\e9e2";
}
.icon-grid:before {
  content: "\e9e3";
}
.icon-hammer:before {
  content: "\e9e4";
}
.icon-happy:before {
  content: "\e9e5";
}
.icon-happy-outline:before {
  content: "\e9e6";
}
.icon-headphone:before {
  content: "\e9e7";
}
.icon-heart:before {
  content: "\e9e8";
}
.icon-heart-broken:before {
  content: "\e9e9";
}
.icon-help:before {
  content: "\e9ea";
}
.icon-help-buoy:before {
  content: "\e9eb";
}
.icon-help-circled:before {
  content: "\e9ec";
}
.icon-home:before {
  content: "\e9ed";
}
.icon-chatbox:before {
  content: "\e9ee";
}
.icon-chatboxes:before {
  content: "\e9ef";
}
.icon-chatbox-working:before {
  content: "\e9f0";
}
.icon-chatbubble:before {
  content: "\e9f1";
}
.icon-chatbubbles:before {
  content: "\e9f2";
}
.icon-chatbubble-working:before {
  content: "\e9f3";
}
.icon-checkmark:before {
  content: "\e9f4";
}
.icon-checkmark-circled:before {
  content: "\e9f5";
}
.icon-checkmark-round:before {
  content: "\e9f6";
}
.icon-chevron-down:before {
  content: "\e9f7";
}
.icon-chevron-left:before {
  content: "\e9f8";
}
.icon-chevron-right:before {
  content: "\e9f9";
}
.icon-chevron-up:before {
  content: "\e9fa";
}
.icon-icecream:before {
  content: "\e9fb";
}
.icon-image:before {
  content: "\e9fc";
}
.icon-images:before {
  content: "\e9fd";
}
.icon-information:before {
  content: "\e9fe";
}
.icon-information-circled:before {
  content: "\e9ff";
}
.icon-ionic:before {
  content: "\ea00";
}
.icon-ios-alarm:before {
  content: "\ea01";
}
.icon-ios-alarm-outline:before {
  content: "\ea02";
}
.icon-ios-albums:before {
  content: "\ea03";
}
.icon-ios-albums-outline:before {
  content: "\ea04";
}
.icon-ios-americanfootball:before {
  content: "\ea05";
}
.icon-ios-americanfootball-outline:before {
  content: "\ea06";
}
.icon-ios-analytics:before {
  content: "\ea07";
}
.icon-ios-analytics-outline:before {
  content: "\ea08";
}
.icon-ios-arrow-back:before {
  content: "\ea09";
}
.icon-ios-arrow-down:before {
  content: "\ea0a";
}
.icon-ios-arrow-forward:before {
  content: "\ea0b";
}
.icon-ios-arrow-left:before {
  content: "\ea0c";
}
.icon-ios-arrow-right:before {
  content: "\ea0d";
}
.icon-ios-arrow-thin-down:before {
  content: "\ea0e";
}
.icon-ios-arrow-thin-left:before {
  content: "\ea0f";
}
.icon-ios-arrow-thin-right:before {
  content: "\ea10";
}
.icon-ios-arrow-thin-up:before {
  content: "\ea11";
}
.icon-ios-arrow-up:before {
  content: "\ea12";
}
.icon-ios-at:before {
  content: "\ea13";
}
.icon-ios-at-outline:before {
  content: "\ea14";
}
.icon-ios-barcode:before {
  content: "\ea15";
}
.icon-ios-barcode-outline:before {
  content: "\ea16";
}
.icon-ios-baseball:before {
  content: "\ea17";
}
.icon-ios-baseball-outline:before {
  content: "\ea18";
}
.icon-ios-basketball:before {
  content: "\ea19";
}
.icon-ios-basketball-outline:before {
  content: "\ea1a";
}
.icon-ios-bell:before {
  content: "\ea1b";
}
.icon-ios-bell-outline:before {
  content: "\ea1c";
}
.icon-ios-body:before {
  content: "\ea1d";
}
.icon-ios-body-outline:before {
  content: "\ea1e";
}
.icon-ios-bolt:before {
  content: "\ea1f";
}
.icon-ios-bolt-outline:before {
  content: "\ea20";
}
.icon-ios-book:before {
  content: "\ea21";
}
.icon-ios-bookmarks:before {
  content: "\ea22";
}
.icon-ios-bookmarks-outline:before {
  content: "\ea23";
}
.icon-ios-book-outline:before {
  content: "\ea24";
}
.icon-ios-box:before {
  content: "\ea25";
}
.icon-ios-box-outline:before {
  content: "\ea26";
}
.icon-ios-briefcase:before {
  content: "\ea27";
}
.icon-ios-briefcase-outline:before {
  content: "\ea28";
}
.icon-ios-browsers:before {
  content: "\ea29";
}
.icon-ios-browsers-outline:before {
  content: "\ea2a";
}
.icon-ios-calculator:before {
  content: "\ea2b";
}
.icon-ios-calculator-outline:before {
  content: "\ea2c";
}
.icon-ios-calendar:before {
  content: "\ea2d";
}
.icon-ios-calendar-outline:before {
  content: "\ea2e";
}
.icon-ios-camera:before {
  content: "\ea2f";
}
.icon-ios-camera-outline:before {
  content: "\ea30";
}
.icon-ios-cart:before {
  content: "\ea31";
}
.icon-ios-cart-outline:before {
  content: "\ea32";
}
.icon-ios-circle-filled:before {
  content: "\ea33";
}
.icon-ios-circle-outline:before {
  content: "\ea34";
}
.icon-ios-clock:before {
  content: "\ea35";
}
.icon-ios-clock-outline:before {
  content: "\ea36";
}
.icon-ios-close:before {
  content: "\ea37";
}
.icon-ios-close-empty:before {
  content: "\ea38";
}
.icon-ios-close-outline:before {
  content: "\ea39";
}
.icon-ios-cloud:before {
  content: "\ea3a";
}
.icon-ios-cloud-download:before {
  content: "\ea3b";
}
.icon-ios-cloud-download-outline:before {
  content: "\ea3c";
}
.icon-ios-cloud-outline:before {
  content: "\ea3d";
}
.icon-ios-cloud-upload:before {
  content: "\ea3e";
}
.icon-ios-cloud-upload-outline:before {
  content: "\ea3f";
}
.icon-ios-cloudy:before {
  content: "\ea40";
}
.icon-ios-cloudy-night:before {
  content: "\ea41";
}
.icon-ios-cloudy-night-outline:before {
  content: "\ea42";
}
.icon-ios-cloudy-outline:before {
  content: "\ea43";
}
.icon-ios-cog:before {
  content: "\ea44";
}
.icon-ios-cog-outline:before {
  content: "\ea45";
}
.icon-ios-color-filter:before {
  content: "\ea46";
}
.icon-ios-color-filter-outline:before {
  content: "\ea47";
}
.icon-ios-color-wand:before {
  content: "\ea48";
}
.icon-ios-color-wand-outline:before {
  content: "\ea49";
}
.icon-ios-compose:before {
  content: "\ea4a";
}
.icon-ios-compose-outline:before {
  content: "\ea4b";
}
.icon-ios-contact:before {
  content: "\ea4c";
}
.icon-ios-contact-outline:before {
  content: "\ea4d";
}
.icon-ios-copy:before {
  content: "\ea4e";
}
.icon-ios-copy-outline:before {
  content: "\ea4f";
}
.icon-ios-crop:before {
  content: "\ea50";
}
.icon-ios-crop-strong:before {
  content: "\ea51";
}
.icon-ios-download:before {
  content: "\ea52";
}
.icon-ios-download-outline:before {
  content: "\ea53";
}
.icon-ios-drag:before {
  content: "\ea54";
}
.icon-ios-email:before {
  content: "\ea55";
}
.icon-ios-email-outline:before {
  content: "\ea56";
}
.icon-ios-eye:before {
  content: "\ea57";
}
.icon-ios-eye-outline:before {
  content: "\ea58";
}
.icon-ios-fastforward:before {
  content: "\ea59";
}
.icon-ios-fastforward-outline:before {
  content: "\ea5a";
}
.icon-ios-filing:before {
  content: "\ea5b";
}
.icon-ios-filing-outline:before {
  content: "\ea5c";
}
.icon-ios-film:before {
  content: "\ea5d";
}
.icon-ios-film-outline:before {
  content: "\ea5e";
}
.icon-ios-flag:before {
  content: "\ea5f";
}
.icon-ios-flag-outline:before {
  content: "\ea60";
}
.icon-ios-flame:before {
  content: "\ea61";
}
.icon-ios-flame-outline:before {
  content: "\ea62";
}
.icon-ios-flask:before {
  content: "\ea63";
}
.icon-ios-flask-outline:before {
  content: "\ea64";
}
.icon-ios-flower:before {
  content: "\ea65";
}
.icon-ios-flower-outline:before {
  content: "\ea66";
}
.icon-ios-folder:before {
  content: "\ea67";
}
.icon-ios-folder-outline:before {
  content: "\ea68";
}
.icon-ios-football:before {
  content: "\ea69";
}
.icon-ios-football-outline:before {
  content: "\ea6a";
}
.icon-ios-game-controller-a:before {
  content: "\ea6b";
}
.icon-ios-game-controller-a-outline:before {
  content: "\ea6c";
}
.icon-ios-game-controller-b:before {
  content: "\ea6d";
}
.icon-ios-game-controller-b-outline:before {
  content: "\ea6e";
}
.icon-ios-gear:before {
  content: "\ea6f";
}
.icon-ios-gear-outline:before {
  content: "\ea70";
}
.icon-ios-glasses:before {
  content: "\ea71";
}
.icon-ios-glasses-outline:before {
  content: "\ea72";
}
.icon-ios-grid-view:before {
  content: "\ea73";
}
.icon-ios-grid-view-outline:before {
  content: "\ea74";
}
.icon-ios-heart:before {
  content: "\ea75";
}
.icon-ios-heart-outline:before {
  content: "\ea76";
}
.icon-ios-help:before {
  content: "\ea77";
}
.icon-ios-help-empty:before {
  content: "\ea78";
}
.icon-ios-help-outline:before {
  content: "\ea79";
}
.icon-ios-home:before {
  content: "\ea7a";
}
.icon-ios-home-outline:before {
  content: "\ea7b";
}
.icon-ios-chatboxes:before {
  content: "\ea7c";
}
.icon-ios-chatboxes-outline:before {
  content: "\ea7d";
}
.icon-ios-chatbubble:before {
  content: "\ea7e";
}
.icon-ios-chatbubble-outline:before {
  content: "\ea7f";
}
.icon-ios-checkmark:before {
  content: "\ea80";
}
.icon-ios-checkmark-empty:before {
  content: "\ea81";
}
.icon-ios-checkmark-outline:before {
  content: "\ea82";
}
.icon-ios-infinite:before {
  content: "\ea83";
}
.icon-ios-infinite-outline:before {
  content: "\ea84";
}
.icon-ios-information:before {
  content: "\ea85";
}
.icon-ios-information-empty:before {
  content: "\ea86";
}
.icon-ios-information-outline:before {
  content: "\ea87";
}
.icon-ios-ionic-outline:before {
  content: "\ea88";
}
.icon-ios-keypad:before {
  content: "\ea89";
}
.icon-ios-keypad-outline:before {
  content: "\ea8a";
}
.icon-ios-lightbulb:before {
  content: "\ea8b";
}
.icon-ios-lightbulb-outline:before {
  content: "\ea8c";
}
.icon-ios-list:before {
  content: "\ea8d";
}
.icon-ios-list-outline:before {
  content: "\ea8e";
}
.icon-ios-location:before {
  content: "\ea8f";
}
.icon-ios-location-outline:before {
  content: "\ea90";
}
.icon-ios-locked:before {
  content: "\ea91";
}
.icon-ios-locked-outline:before {
  content: "\ea92";
}
.icon-ios-loop:before {
  content: "\ea93";
}
.icon-ios-loop-strong:before {
  content: "\ea94";
}
.icon-ios-medical:before {
  content: "\ea95";
}
.icon-ios-medical-outline:before {
  content: "\ea96";
}
.icon-ios-medkit:before {
  content: "\ea97";
}
.icon-ios-medkit-outline:before {
  content: "\ea98";
}
.icon-ios-mic:before {
  content: "\ea99";
}
.icon-ios-mic-off:before {
  content: "\ea9a";
}
.icon-ios-mic-outline:before {
  content: "\ea9b";
}
.icon-ios-minus:before {
  content: "\ea9c";
}
.icon-ios-minus-empty:before {
  content: "\ea9d";
}
.icon-ios-minus-outline:before {
  content: "\ea9e";
}
.icon-ios-monitor:before {
  content: "\ea9f";
}
.icon-ios-monitor-outline:before {
  content: "\eaa0";
}
.icon-ios-moon:before {
  content: "\eaa1";
}
.icon-ios-moon-outline:before {
  content: "\eaa2";
}
.icon-ios-more:before {
  content: "\eaa3";
}
.icon-ios-more-outline:before {
  content: "\eaa4";
}
.icon-ios-musical-note:before {
  content: "\eaa5";
}
.icon-ios-musical-notes:before {
  content: "\eaa6";
}
.icon-ios-navigate:before {
  content: "\eaa7";
}
.icon-ios-navigate-outline:before {
  content: "\eaa8";
}
.icon-ios-nutrition:before {
  content: "\eaa9";
}
.icon-ios-nutrition-outline:before {
  content: "\eaaa";
}
.icon-ios-paper:before {
  content: "\eaab";
}
.icon-ios-paper-outline:before {
  content: "\eaac";
}
.icon-ios-paperplane:before {
  content: "\eaad";
}
.icon-ios-paperplane-outline:before {
  content: "\eaae";
}
.icon-ios-partlysunny:before {
  content: "\eaaf";
}
.icon-ios-partlysunny-outline:before {
  content: "\eab0";
}
.icon-ios-pause:before {
  content: "\eab1";
}
.icon-ios-pause-outline:before {
  content: "\eab2";
}
.icon-ios-paw:before {
  content: "\eab3";
}
.icon-ios-paw-outline:before {
  content: "\eab4";
}
.icon-ios-people:before {
  content: "\eab5";
}
.icon-ios-people-outline:before {
  content: "\eab6";
}
.icon-ios-person:before {
  content: "\eab7";
}
.icon-ios-personadd:before {
  content: "\eab8";
}
.icon-ios-personadd-outline:before {
  content: "\eab9";
}
.icon-ios-person-outline:before {
  content: "\eaba";
}
.icon-ios-photos:before {
  content: "\eabb";
}
.icon-ios-photos-outline:before {
  content: "\eabc";
}
.icon-ios-pie:before {
  content: "\eabd";
}
.icon-ios-pie-outline:before {
  content: "\eabe";
}
.icon-ios-pint:before {
  content: "\eabf";
}
.icon-ios-pint-outline:before {
  content: "\eac0";
}
.icon-ios-play:before {
  content: "\eac1";
}
.icon-ios-play-outline:before {
  content: "\eac2";
}
.icon-ios-plus:before {
  content: "\eac3";
}
.icon-ios-plus-empty:before {
  content: "\eac4";
}
.icon-ios-plus-outline:before {
  content: "\eac5";
}
.icon-ios-pricetag:before {
  content: "\eac6";
}
.icon-ios-pricetag-outline:before {
  content: "\eac7";
}
.icon-ios-pricetags:before {
  content: "\eac8";
}
.icon-ios-pricetags-outline:before {
  content: "\eac9";
}
.icon-ios-printer:before {
  content: "\eaca";
}
.icon-ios-printer-outline:before {
  content: "\eacb";
}
.icon-ios-pulse:before {
  content: "\eacc";
}
.icon-ios-pulse-strong:before {
  content: "\eacd";
}
.icon-ios-rainy:before {
  content: "\eace";
}
.icon-ios-rainy-outline:before {
  content: "\eacf";
}
.icon-ios-recording:before {
  content: "\ead0";
}
.icon-ios-recording-outline:before {
  content: "\ead1";
}
.icon-ios-redo:before {
  content: "\ead2";
}
.icon-ios-redo-outline:before {
  content: "\ead3";
}
.icon-ios-refresh:before {
  content: "\ead4";
}
.icon-ios-refresh-empty:before {
  content: "\ead5";
}
.icon-ios-refresh-outline:before {
  content: "\ead6";
}
.icon-ios-reload:before {
  content: "\ead7";
}
.icon-ios-reverse-camera:before {
  content: "\ead8";
}
.icon-ios-reverse-camera-outline:before {
  content: "\ead9";
}
.icon-ios-rewind:before {
  content: "\eada";
}
.icon-ios-rewind-outline:before {
  content: "\eadb";
}
.icon-ios-rose:before {
  content: "\eadc";
}
.icon-ios-rose-outline:before {
  content: "\eadd";
}
.icon-ios-search:before {
  content: "\eade";
}
.icon-ios-search-strong:before {
  content: "\eadf";
}
.icon-ios-settings:before {
  content: "\eae0";
}
.icon-ios-settings-strong:before {
  content: "\eae1";
}
.icon-ios-shuffle:before {
  content: "\eae2";
}
.icon-ios-shuffle-strong:before {
  content: "\eae3";
}
.icon-ios-skipbackward:before {
  content: "\eae4";
}
.icon-ios-skipbackward-outline:before {
  content: "\eae5";
}
.icon-ios-skipforward:before {
  content: "\eae6";
}
.icon-ios-skipforward-outline:before {
  content: "\eae7";
}
.icon-ios-snowy:before {
  content: "\eae8";
}
.icon-ios-speedometer:before {
  content: "\eae9";
}
.icon-ios-speedometer-outline:before {
  content: "\eaea";
}
.icon-ios-star:before {
  content: "\eaeb";
}
.icon-ios-star-half:before {
  content: "\eaec";
}
.icon-ios-star-outline:before {
  content: "\eaed";
}
.icon-ios-stopwatch:before {
  content: "\eaee";
}
.icon-ios-stopwatch-outline:before {
  content: "\eaef";
}
.icon-ios-sunny:before {
  content: "\eaf0";
}
.icon-ios-sunny-outline:before {
  content: "\eaf1";
}
.icon-ios-telephone:before {
  content: "\eaf2";
}
.icon-ios-telephone-outline:before {
  content: "\eaf3";
}
.icon-ios-tennisball:before {
  content: "\eaf4";
}
.icon-ios-tennisball-outline:before {
  content: "\eaf5";
}
.icon-ios-thunderstorm:before {
  content: "\eaf6";
}
.icon-ios-thunderstorm-outline:before {
  content: "\eaf7";
}
.icon-ios-time:before {
  content: "\eaf8";
}
.icon-ios-time-outline:before {
  content: "\eaf9";
}
.icon-ios-timer:before {
  content: "\eafa";
}
.icon-ios-timer-outline:before {
  content: "\eafb";
}
.icon-ios-toggle:before {
  content: "\eafc";
}
.icon-ios-toggle-outline:before {
  content: "\eafd";
}
.icon-ios-trash:before {
  content: "\eafe";
}
.icon-ios-trash-outline:before {
  content: "\eaff";
}
.icon-ios-undo:before {
  content: "\eb00";
}
.icon-ios-undo-outline:before {
  content: "\eb01";
}
.icon-ios-unlocked:before {
  content: "\eb02";
}
.icon-ios-unlocked-outline:before {
  content: "\eb03";
}
.icon-ios-upload:before {
  content: "\eb04";
}
.icon-ios-upload-outline:before {
  content: "\eb05";
}
.icon-ios-videocam:before {
  content: "\eb06";
}
.icon-ios-videocam-outline:before {
  content: "\eb07";
}
.icon-ios-volume-high:before {
  content: "\eb08";
}
.icon-ios-volume-low:before {
  content: "\eb09";
}
.icon-ios-wineglass:before {
  content: "\eb0a";
}
.icon-ios-wineglass-outline:before {
  content: "\eb0b";
}
.icon-ios-world:before {
  content: "\eb0c";
}
.icon-ios-world-outline:before {
  content: "\eb0d";
}
.icon-ipad:before {
  content: "\eb0e";
}
.icon-iphone:before {
  content: "\eb0f";
}
.icon-ipod:before {
  content: "\eb10";
}
.icon-jet:before {
  content: "\eb11";
}
.icon-key:before {
  content: "\eb12";
}
.icon-knife:before {
  content: "\eb13";
}
.icon-laptop:before {
  content: "\eb14";
}
.icon-leaf:before {
  content: "\eb15";
}
.icon-levels:before {
  content: "\eb16";
}
.icon-lightbulb:before {
  content: "\eb17";
}
.icon-link:before {
  content: "\eb18";
}
.icon-load-a:before {
  content: "\eb19";
}
.icon-load-b:before {
  content: "\eb1a";
}
.icon-load-c:before {
  content: "\eb1b";
}
.icon-load-d:before {
  content: "\eb1c";
}
.icon-location:before {
  content: "\eb1d";
}
.icon-lock-combination:before {
  content: "\eb1e";
}
.icon-locked:before {
  content: "\eb1f";
}
.icon-log-in:before {
  content: "\eb20";
}
.icon-log-out:before {
  content: "\eb21";
}
.icon-loop:before {
  content: "\eb22";
}
.icon-magnet:before {
  content: "\eb23";
}
.icon-male:before {
  content: "\eb24";
}
.icon-man:before {
  content: "\eb25";
}
.icon-map:before {
  content: "\eb26";
}
.icon-medkit:before {
  content: "\eb27";
}
.icon-merge:before {
  content: "\eb28";
}
.icon-mic-a:before {
  content: "\eb29";
}
.icon-mic-b:before {
  content: "\eb2a";
}
.icon-mic-c:before {
  content: "\eb2b";
}
.icon-minus:before {
  content: "\eb2c";
}
.icon-minus-circled:before {
  content: "\eb2d";
}
.icon-minus-round:before {
  content: "\eb2e";
}
.icon-model-s:before {
  content: "\eb2f";
}
.icon-monitor:before {
  content: "\eb30";
}
.icon-more:before {
  content: "\eb31";
}
.icon-mouse:before {
  content: "\eb32";
}
.icon-music-note:before {
  content: "\eb33";
}
.icon-navicon:before {
  content: "\eb34";
}
.icon-navicon-round:before {
  content: "\eb35";
}
.icon-navigate:before {
  content: "\eb36";
}
.icon-network:before {
  content: "\eb37";
}
.icon-no-smoking:before {
  content: "\eb38";
}
.icon-nuclear:before {
  content: "\eb39";
}
.icon-outlet:before {
  content: "\eb3a";
}
.icon-paintbrush:before {
  content: "\eb3b";
}
.icon-paintbucket:before {
  content: "\eb3c";
}
.icon-paper-airplane:before {
  content: "\eb3d";
}
.icon-paperclip:before {
  content: "\eb3e";
}
.icon-pause:before {
  content: "\eb3f";
}
.icon-person:before {
  content: "\eb40";
}
.icon-person-add:before {
  content: "\eb41";
}
.icon-person-stalker:before {
  content: "\eb42";
}
.icon-pie-graph:before {
  content: "\eb43";
}
.icon-pin:before {
  content: "\eb44";
}
.icon-pinpoint:before {
  content: "\eb45";
}
.icon-pizza:before {
  content: "\eb46";
}
.icon-plane:before {
  content: "\eb47";
}
.icon-planet:before {
  content: "\eb48";
}
.icon-play:before {
  content: "\eb49";
}
.icon-playstation:before {
  content: "\eb4a";
}
.icon-plus:before {
  content: "\eb4b";
}
.icon-plus-circled:before {
  content: "\eb4c";
}
.icon-plus-round:before {
  content: "\eb4d";
}
.icon-podium:before {
  content: "\eb4e";
}
.icon-pound:before {
  content: "\eb4f";
}
.icon-power:before {
  content: "\eb50";
}
.icon-pricetag:before {
  content: "\eb51";
}
.icon-pricetags:before {
  content: "\eb52";
}
.icon-printer:before {
  content: "\eb53";
}
.icon-pull-request:before {
  content: "\eb54";
}
.icon-qr-scanner:before {
  content: "\eb55";
}
.icon-quote:before {
  content: "\eb56";
}
.icon-radio-waves:before {
  content: "\eb57";
}
.icon-record:before {
  content: "\eb58";
}
.icon-refresh:before {
  content: "\eb59";
}
.icon-reply:before {
  content: "\eb5a";
}
.icon-reply-all:before {
  content: "\eb5b";
}
.icon-ribbon-a:before {
  content: "\eb5c";
}
.icon-ribbon-b:before {
  content: "\eb5d";
}
.icon-sad:before {
  content: "\eb5e";
}
.icon-sad-outline:before {
  content: "\eb5f";
}
.icon-scissors:before {
  content: "\eb60";
}
.icon-search:before {
  content: "\eb61";
}
.icon-settings:before {
  content: "\eb62";
}
.icon-share:before {
  content: "\eb63";
}
.icon-shuffle:before {
  content: "\eb64";
}
.icon-skip-backward:before {
  content: "\eb65";
}
.icon-skip-forward:before {
  content: "\eb66";
}
.icon-social-android:before {
  content: "\eb67";
}
.icon-social-android-outline:before {
  content: "\eb68";
}
.icon-social-angular:before {
  content: "\eb69";
}
.icon-social-angular-outline:before {
  content: "\eb6a";
}
.icon-social-apple:before {
  content: "\eb6b";
}
.icon-social-apple-outline:before {
  content: "\eb6c";
}
.icon-social-bitcoin:before {
  content: "\eb6d";
}
.icon-social-bitcoin-outline:before {
  content: "\eb6e";
}
.icon-social-buffer:before {
  content: "\eb6f";
}
.icon-social-buffer-outline:before {
  content: "\eb70";
}
.icon-social-codepen:before {
  content: "\eb71";
}
.icon-social-codepen-outline:before {
  content: "\eb72";
}
.icon-social-css3:before {
  content: "\eb73";
}
.icon-social-css3-outline:before {
  content: "\eb74";
}
.icon-social-designernews:before {
  content: "\eb75";
}
.icon-social-designernews-outline:before {
  content: "\eb76";
}
.icon-social-dribbble:before {
  content: "\eb77";
}
.icon-social-dribbble-outline:before {
  content: "\eb78";
}
.icon-social-dropbox:before {
  content: "\eb79";
}
.icon-social-dropbox-outline:before {
  content: "\eb7a";
}
.icon-social-euro:before {
  content: "\eb7b";
}
.icon-social-euro-outline:before {
  content: "\eb7c";
}
.icon-social-facebook:before {
  content: "\eb7d";
}
.icon-social-facebook-outline:before {
  content: "\eb7e";
}
.icon-social-foursquare:before {
  content: "\eb7f";
}
.icon-social-foursquare-outline:before {
  content: "\eb80";
}
.icon-social-freebsd-devil:before {
  content: "\eb81";
}
.icon-social-github:before {
  content: "\eb82";
}
.icon-social-github-outline:before {
  content: "\eb83";
}
.icon-social-google:before {
  content: "\eb84";
}
.icon-social-google-outline:before {
  content: "\eb85";
}
.icon-social-googleplus:before {
  content: "\eb86";
}
.icon-social-googleplus-outline:before {
  content: "\eb87";
}
.icon-social-hackernews:before {
  content: "\eb88";
}
.icon-social-hackernews-outline:before {
  content: "\eb89";
}
.icon-social-html5:before {
  content: "\eb8a";
}
.icon-social-html5-outline:before {
  content: "\eb8b";
}
.icon-social-chrome:before {
  content: "\eb8c";
}
.icon-social-chrome-outline:before {
  content: "\eb8d";
}
.icon-social-instagram:before {
  content: "\eb8e";
}
.icon-social-instagram-outline:before {
  content: "\eb8f";
}
.icon-social-javascript:before {
  content: "\eb90";
}
.icon-social-javascript-outline:before {
  content: "\eb91";
}
.icon-social-linkedin:before {
  content: "\eb92";
}
.icon-social-linkedin-outline:before {
  content: "\eb93";
}
.icon-social-markdown:before {
  content: "\eb94";
}
.icon-social-nodejs:before {
  content: "\eb95";
}
.icon-social-octocat:before {
  content: "\eb96";
}
.icon-social-pinterest:before {
  content: "\eb97";
}
.icon-social-pinterest-outline:before {
  content: "\eb98";
}
.icon-social-python:before {
  content: "\eb99";
}
.icon-social-reddit:before {
  content: "\eb9a";
}
.icon-social-reddit-outline:before {
  content: "\eb9b";
}
.icon-social-rss:before {
  content: "\eb9c";
}
.icon-social-rss-outline:before {
  content: "\eb9d";
}
.icon-social-sass:before {
  content: "\eb9e";
}
.icon-social-skype:before {
  content: "\eb9f";
}
.icon-social-skype-outline:before {
  content: "\eba0";
}
.icon-social-snapchat:before {
  content: "\eba1";
}
.icon-social-snapchat-outline:before {
  content: "\eba2";
}
.icon-social-tumblr:before {
  content: "\eba3";
}
.icon-social-tumblr-outline:before {
  content: "\eba4";
}
.icon-social-tux:before {
  content: "\eba5";
}
.icon-social-twitch:before {
  content: "\eba6";
}
.icon-social-twitch-outline:before {
  content: "\eba7";
}
.icon-social-twitter:before {
  content: "\eba8";
}
.icon-social-twitter-outline:before {
  content: "\eba9";
}
.icon-social-usd:before {
  content: "\ebaa";
}
.icon-social-usd-outline:before {
  content: "\ebab";
}
.icon-social-vimeo:before {
  content: "\ebac";
}
.icon-social-vimeo-outline:before {
  content: "\ebad";
}
.icon-social-whatsapp:before {
  content: "\ebae";
}
.icon-social-whatsapp-outline:before {
  content: "\ebaf";
}
.icon-social-windows:before {
  content: "\ebb0";
}
.icon-social-windows-outline:before {
  content: "\ebb1";
}
.icon-social-wordpress:before {
  content: "\ebb2";
}
.icon-social-wordpress-outline:before {
  content: "\ebb3";
}
.icon-social-yahoo:before {
  content: "\ebb4";
}
.icon-social-yahoo-outline:before {
  content: "\ebb5";
}
.icon-social-yen:before {
  content: "\ebb6";
}
.icon-social-yen-outline:before {
  content: "\ebb7";
}
.icon-social-youtube:before {
  content: "\ebb8";
}
.icon-social-youtube-outline:before {
  content: "\ebb9";
}
.icon-soup-can:before {
  content: "\ebba";
}
.icon-soup-can-outline:before {
  content: "\ebbb";
}
.icon-speakerphone:before {
  content: "\ebbc";
}
.icon-speedometer:before {
  content: "\ebbd";
}
.icon-spoon:before {
  content: "\ebbe";
}
.icon-star:before {
  content: "\ebbf";
}
.icon-stats-bars:before {
  content: "\ebc0";
}
.icon-steam:before {
  content: "\ebc1";
}
.icon-stop:before {
  content: "\ebc2";
}
.icon-thermometer:before {
  content: "\ebc3";
}
.icon-thumbsdown:before {
  content: "\ebc4";
}
.icon-thumbsup:before {
  content: "\ebc5";
}
.icon-toggle:before {
  content: "\ebc6";
}
.icon-toggle-filled:before {
  content: "\ebc7";
}
.icon-transgender:before {
  content: "\ebc8";
}
.icon-trash-a:before {
  content: "\ebc9";
}
.icon-trash-b:before {
  content: "\ebca";
}
.icon-trophy:before {
  content: "\ebcb";
}
.icon-tshirt:before {
  content: "\ebcc";
}
.icon-tshirt-outline:before {
  content: "\ebcd";
}
.icon-umbrella:before {
  content: "\ebce";
}
.icon-university:before {
  content: "\ebcf";
}
.icon-unlocked:before {
  content: "\ebd0";
}
.icon-upload:before {
  content: "\ebd1";
}
.icon-usb:before {
  content: "\ebd2";
}
.icon-videocamera:before {
  content: "\ebd3";
}
.icon-volume-high:before {
  content: "\ebd4";
}
.icon-volume-low:before {
  content: "\ebd5";
}
.icon-volume-medium:before {
  content: "\ebd6";
}
.icon-volume-mute:before {
  content: "\ebd7";
}
.icon-wand:before {
  content: "\ebd8";
}
.icon-waterdrop:before {
  content: "\ebd9";
}
.icon-wifi:before {
  content: "\ebda";
}
.icon-wineglass:before {
  content: "\ebdb";
}
.icon-woman:before {
  content: "\ebdc";
}
.icon-wrench:before {
  content: "\ebdd";
}
.icon-xbox:before {
  content: "\ebde";
}

