@icomoon-font-path: "../icons/fonts";

@icon-flag-cr: "\e900";
@icon-map-cr: "\e901";
@icon-xart: "\e80c";
@icon-alert: "\e902";
@icon-alert-circled: "\e903";
@icon-android-add: "\e904";
@icon-android-add-circle: "\e905";
@icon-android-alarm-clock: "\e906";
@icon-android-alert: "\e907";
@icon-android-apps: "\e908";
@icon-android-archive: "\e909";
@icon-android-arrow-back: "\e90a";
@icon-android-arrow-down: "\e90b";
@icon-android-arrow-dropdown: "\e90c";
@icon-android-arrow-dropdown-circle: "\e90d";
@icon-android-arrow-dropleft: "\e90e";
@icon-android-arrow-dropleft-circle: "\e90f";
@icon-android-arrow-dropright: "\e910";
@icon-android-arrow-dropright-circle: "\e911";
@icon-android-arrow-dropup: "\e912";
@icon-android-arrow-dropup-circle: "\e913";
@icon-android-arrow-forward: "\e914";
@icon-android-arrow-up: "\e915";
@icon-android-attach: "\e916";
@icon-android-bar: "\e917";
@icon-android-bicycle: "\e918";
@icon-android-boat: "\e919";
@icon-android-bookmark: "\e91a";
@icon-android-bulb: "\e91b";
@icon-android-bus: "\e91c";
@icon-android-calendar: "\e91d";
@icon-android-call: "\e91e";
@icon-android-camera: "\e91f";
@icon-android-cancel: "\e920";
@icon-android-car: "\e921";
@icon-android-cart: "\e922";
@icon-android-clipboard: "\e923";
@icon-android-close: "\e924";
@icon-android-cloud: "\e925";
@icon-android-cloud-circle: "\e926";
@icon-android-cloud-done: "\e927";
@icon-android-cloud-outline: "\e928";
@icon-android-color-palette: "\e929";
@icon-android-compass: "\e92a";
@icon-android-contact: "\e92b";
@icon-android-contacts: "\e92c";
@icon-android-contract: "\e92d";
@icon-android-create: "\e92e";
@icon-android-delete: "\e92f";
@icon-android-desktop: "\e930";
@icon-android-document: "\e931";
@icon-android-done: "\e932";
@icon-android-done-all: "\e933";
@icon-android-download: "\e934";
@icon-android-drafts: "\e935";
@icon-android-exit: "\e936";
@icon-android-expand: "\e937";
@icon-android-favorite: "\e938";
@icon-android-favorite-outline: "\e939";
@icon-android-film: "\e93a";
@icon-android-folder: "\e93b";
@icon-android-folder-open: "\e93c";
@icon-android-funnel: "\e93d";
@icon-android-globe: "\e93e";
@icon-android-hand: "\e93f";
@icon-android-hangout: "\e940";
@icon-android-happy: "\e941";
@icon-android-home: "\e942";
@icon-android-chat: "\e943";
@icon-android-checkbox: "\e944";
@icon-android-checkbox-blank: "\e945";
@icon-android-checkbox-outline: "\e946";
@icon-android-checkbox-outline-blank: "\e947";
@icon-android-checkmark-circle: "\e948";
@icon-android-image: "\e949";
@icon-android-laptop: "\e94a";
@icon-android-list: "\e94b";
@icon-android-locate: "\e94c";
@icon-android-lock: "\e94d";
@icon-android-mail: "\e94e";
@icon-android-map: "\e94f";
@icon-android-menu: "\e950";
@icon-android-microphone: "\e951";
@icon-android-microphone-off: "\e952";
@icon-android-more-horizontal: "\e953";
@icon-android-more-vertical: "\e954";
@icon-android-navigate: "\e955";
@icon-android-notifications: "\e956";
@icon-android-notifications-none: "\e957";
@icon-android-notifications-off: "\e958";
@icon-android-open: "\e959";
@icon-android-options: "\e95a";
@icon-android-people: "\e95b";
@icon-android-person: "\e95c";
@icon-android-person-add: "\e95d";
@icon-android-phone-landscape: "\e95e";
@icon-android-phone-portrait: "\e95f";
@icon-android-pin: "\e960";
@icon-android-plane: "\e961";
@icon-android-playstore: "\e962";
@icon-android-print: "\e963";
@icon-android-radio-button-off: "\e964";
@icon-android-radio-button-on: "\e965";
@icon-android-refresh: "\e966";
@icon-android-remove: "\e967";
@icon-android-remove-circle: "\e968";
@icon-android-restaurant: "\e969";
@icon-android-sad: "\e96a";
@icon-android-search: "\e96b";
@icon-android-send: "\e96c";
@icon-android-settings: "\e96d";
@icon-android-share: "\e96e";
@icon-android-share-alt: "\e96f";
@icon-android-star: "\e970";
@icon-android-star-half: "\e971";
@icon-android-star-outline: "\e972";
@icon-android-stopwatch: "\e973";
@icon-android-subway: "\e974";
@icon-android-sunny: "\e975";
@icon-android-sync: "\e976";
@icon-android-textsms: "\e977";
@icon-android-time: "\e978";
@icon-android-train: "\e979";
@icon-android-unlock: "\e97a";
@icon-android-upload: "\e97b";
@icon-android-volume-down: "\e97c";
@icon-android-volume-mute: "\e97d";
@icon-android-volume-off: "\e97e";
@icon-android-volume-up: "\e97f";
@icon-android-walk: "\e980";
@icon-android-warning: "\e981";
@icon-android-watch: "\e982";
@icon-android-wifi: "\e983";
@icon-aperture: "\e984";
@icon-archive: "\e985";
@icon-arrow-down-a: "\e986";
@icon-arrow-down-b: "\e987";
@icon-arrow-down-c: "\e988";
@icon-arrow-expand: "\e989";
@icon-arrow-graph-down-left: "\e98a";
@icon-arrow-graph-down-right: "\e98b";
@icon-arrow-graph-up-left: "\e98c";
@icon-arrow-graph-up-right: "\e98d";
@icon-arrow-left-a: "\e98e";
@icon-arrow-left-b: "\e98f";
@icon-arrow-left-c: "\e990";
@icon-arrow-move: "\e991";
@icon-arrow-resize: "\e992";
@icon-arrow-return-left: "\e993";
@icon-arrow-return-right: "\e994";
@icon-arrow-right-a: "\e995";
@icon-arrow-right-b: "\e996";
@icon-arrow-right-c: "\e997";
@icon-arrow-shrink: "\e998";
@icon-arrow-swap: "\e999";
@icon-arrow-up-a: "\e99a";
@icon-arrow-up-b: "\e99b";
@icon-arrow-up-c: "\e99c";
@icon-asterisk: "\e99d";
@icon-at: "\e99e";
@icon-backspace: "\e99f";
@icon-backspace-outline: "\e9a0";
@icon-bag: "\e9a1";
@icon-battery-empty: "\e9a2";
@icon-battery-full: "\e9a3";
@icon-battery-half: "\e9a4";
@icon-battery-charging: "\e9a5";
@icon-battery-low: "\e9a6";
@icon-beaker: "\e9a7";
@icon-beer: "\e9a8";
@icon-bluetooth: "\e9a9";
@icon-bonfire: "\e9aa";
@icon-bookmark: "\e9ab";
@icon-bowtie: "\e9ac";
@icon-briefcase: "\e9ad";
@icon-bug: "\e9ae";
@icon-calculator: "\e9af";
@icon-calendar: "\e9b0";
@icon-camera: "\e9b1";
@icon-card: "\e9b2";
@icon-cash: "\e9b3";
@icon-clipboard: "\e9b4";
@icon-clock: "\e9b5";
@icon-close: "\e9b6";
@icon-close-circled: "\e9b7";
@icon-closed-captioning: "\e9b8";
@icon-close-round: "\e9b9";
@icon-cloud: "\e9ba";
@icon-code: "\e9bb";
@icon-code-download: "\e9bc";
@icon-code-working: "\e9bd";
@icon-coffee: "\e9be";
@icon-compass: "\e9bf";
@icon-compose: "\e9c0";
@icon-connection-bars: "\e9c1";
@icon-contrast: "\e9c2";
@icon-crop: "\e9c3";
@icon-cube: "\e9c4";
@icon-disc: "\e9c5";
@icon-document: "\e9c6";
@icon-document-text: "\e9c7";
@icon-drag: "\e9c8";
@icon-earth: "\e9c9";
@icon-easel: "\e9ca";
@icon-edit: "\e9cb";
@icon-egg: "\e9cc";
@icon-eject: "\e9cd";
@icon-email: "\e9ce";
@icon-email-unread: "\e9cf";
@icon-erlenmeyer-flask: "\e9d0";
@icon-erlenmeyer-flask-bubbles: "\e9d1";
@icon-eye: "\e9d2";
@icon-eye-disabled: "\e9d3";
@icon-female: "\e9d4";
@icon-filing: "\e9d5";
@icon-film-marker: "\e9d6";
@icon-fireball: "\e9d7";
@icon-flag: "\e9d8";
@icon-flame: "\e9d9";
@icon-flash: "\e9da";
@icon-flash-off: "\e9db";
@icon-folder: "\e9dc";
@icon-fork: "\e9dd";
@icon-fork-repo: "\e9de";
@icon-forward: "\e9df";
@icon-funnel: "\e9e0";
@icon-gear-a: "\e9e1";
@icon-gear-b: "\e9e2";
@icon-grid: "\e9e3";
@icon-hammer: "\e9e4";
@icon-happy: "\e9e5";
@icon-happy-outline: "\e9e6";
@icon-headphone: "\e9e7";
@icon-heart: "\e9e8";
@icon-heart-broken: "\e9e9";
@icon-help: "\e9ea";
@icon-help-buoy: "\e9eb";
@icon-help-circled: "\e9ec";
@icon-home: "\e9ed";
@icon-chatbox: "\e9ee";
@icon-chatboxes: "\e9ef";
@icon-chatbox-working: "\e9f0";
@icon-chatbubble: "\e9f1";
@icon-chatbubbles: "\e9f2";
@icon-chatbubble-working: "\e9f3";
@icon-checkmark: "\e9f4";
@icon-checkmark-circled: "\e9f5";
@icon-checkmark-round: "\e9f6";
@icon-chevron-down: "\e9f7";
@icon-chevron-left: "\e9f8";
@icon-chevron-right: "\e9f9";
@icon-chevron-up: "\e9fa";
@icon-icecream: "\e9fb";
@icon-image: "\e9fc";
@icon-images: "\e9fd";
@icon-information: "\e9fe";
@icon-information-circled: "\e9ff";
@icon-ionic: "\ea00";
@icon-ios-alarm: "\ea01";
@icon-ios-alarm-outline: "\ea02";
@icon-ios-albums: "\ea03";
@icon-ios-albums-outline: "\ea04";
@icon-ios-americanfootball: "\ea05";
@icon-ios-americanfootball-outline: "\ea06";
@icon-ios-analytics: "\ea07";
@icon-ios-analytics-outline: "\ea08";
@icon-ios-arrow-back: "\ea09";
@icon-ios-arrow-down: "\ea0a";
@icon-ios-arrow-forward: "\ea0b";
@icon-ios-arrow-left: "\ea0c";
@icon-ios-arrow-right: "\ea0d";
@icon-ios-arrow-thin-down: "\ea0e";
@icon-ios-arrow-thin-left: "\ea0f";
@icon-ios-arrow-thin-right: "\ea10";
@icon-ios-arrow-thin-up: "\ea11";
@icon-ios-arrow-up: "\ea12";
@icon-ios-at: "\ea13";
@icon-ios-at-outline: "\ea14";
@icon-ios-barcode: "\ea15";
@icon-ios-barcode-outline: "\ea16";
@icon-ios-baseball: "\ea17";
@icon-ios-baseball-outline: "\ea18";
@icon-ios-basketball: "\ea19";
@icon-ios-basketball-outline: "\ea1a";
@icon-ios-bell: "\ea1b";
@icon-ios-bell-outline: "\ea1c";
@icon-ios-body: "\ea1d";
@icon-ios-body-outline: "\ea1e";
@icon-ios-bolt: "\ea1f";
@icon-ios-bolt-outline: "\ea20";
@icon-ios-book: "\ea21";
@icon-ios-bookmarks: "\ea22";
@icon-ios-bookmarks-outline: "\ea23";
@icon-ios-book-outline: "\ea24";
@icon-ios-box: "\ea25";
@icon-ios-box-outline: "\ea26";
@icon-ios-briefcase: "\ea27";
@icon-ios-briefcase-outline: "\ea28";
@icon-ios-browsers: "\ea29";
@icon-ios-browsers-outline: "\ea2a";
@icon-ios-calculator: "\ea2b";
@icon-ios-calculator-outline: "\ea2c";
@icon-ios-calendar: "\ea2d";
@icon-ios-calendar-outline: "\ea2e";
@icon-ios-camera: "\ea2f";
@icon-ios-camera-outline: "\ea30";
@icon-ios-cart: "\ea31";
@icon-ios-cart-outline: "\ea32";
@icon-ios-circle-filled: "\ea33";
@icon-ios-circle-outline: "\ea34";
@icon-ios-clock: "\ea35";
@icon-ios-clock-outline: "\ea36";
@icon-ios-close: "\ea37";
@icon-ios-close-empty: "\ea38";
@icon-ios-close-outline: "\ea39";
@icon-ios-cloud: "\ea3a";
@icon-ios-cloud-download: "\ea3b";
@icon-ios-cloud-download-outline: "\ea3c";
@icon-ios-cloud-outline: "\ea3d";
@icon-ios-cloud-upload: "\ea3e";
@icon-ios-cloud-upload-outline: "\ea3f";
@icon-ios-cloudy: "\ea40";
@icon-ios-cloudy-night: "\ea41";
@icon-ios-cloudy-night-outline: "\ea42";
@icon-ios-cloudy-outline: "\ea43";
@icon-ios-cog: "\ea44";
@icon-ios-cog-outline: "\ea45";
@icon-ios-color-filter: "\ea46";
@icon-ios-color-filter-outline: "\ea47";
@icon-ios-color-wand: "\ea48";
@icon-ios-color-wand-outline: "\ea49";
@icon-ios-compose: "\ea4a";
@icon-ios-compose-outline: "\ea4b";
@icon-ios-contact: "\ea4c";
@icon-ios-contact-outline: "\ea4d";
@icon-ios-copy: "\ea4e";
@icon-ios-copy-outline: "\ea4f";
@icon-ios-crop: "\ea50";
@icon-ios-crop-strong: "\ea51";
@icon-ios-download: "\ea52";
@icon-ios-download-outline: "\ea53";
@icon-ios-drag: "\ea54";
@icon-ios-email: "\ea55";
@icon-ios-email-outline: "\ea56";
@icon-ios-eye: "\ea57";
@icon-ios-eye-outline: "\ea58";
@icon-ios-fastforward: "\ea59";
@icon-ios-fastforward-outline: "\ea5a";
@icon-ios-filing: "\ea5b";
@icon-ios-filing-outline: "\ea5c";
@icon-ios-film: "\ea5d";
@icon-ios-film-outline: "\ea5e";
@icon-ios-flag: "\ea5f";
@icon-ios-flag-outline: "\ea60";
@icon-ios-flame: "\ea61";
@icon-ios-flame-outline: "\ea62";
@icon-ios-flask: "\ea63";
@icon-ios-flask-outline: "\ea64";
@icon-ios-flower: "\ea65";
@icon-ios-flower-outline: "\ea66";
@icon-ios-folder: "\ea67";
@icon-ios-folder-outline: "\ea68";
@icon-ios-football: "\ea69";
@icon-ios-football-outline: "\ea6a";
@icon-ios-game-controller-a: "\ea6b";
@icon-ios-game-controller-a-outline: "\ea6c";
@icon-ios-game-controller-b: "\ea6d";
@icon-ios-game-controller-b-outline: "\ea6e";
@icon-ios-gear: "\ea6f";
@icon-ios-gear-outline: "\ea70";
@icon-ios-glasses: "\ea71";
@icon-ios-glasses-outline: "\ea72";
@icon-ios-grid-view: "\ea73";
@icon-ios-grid-view-outline: "\ea74";
@icon-ios-heart: "\ea75";
@icon-ios-heart-outline: "\ea76";
@icon-ios-help: "\ea77";
@icon-ios-help-empty: "\ea78";
@icon-ios-help-outline: "\ea79";
@icon-ios-home: "\ea7a";
@icon-ios-home-outline: "\ea7b";
@icon-ios-chatboxes: "\ea7c";
@icon-ios-chatboxes-outline: "\ea7d";
@icon-ios-chatbubble: "\ea7e";
@icon-ios-chatbubble-outline: "\ea7f";
@icon-ios-checkmark: "\ea80";
@icon-ios-checkmark-empty: "\ea81";
@icon-ios-checkmark-outline: "\ea82";
@icon-ios-infinite: "\ea83";
@icon-ios-infinite-outline: "\ea84";
@icon-ios-information: "\ea85";
@icon-ios-information-empty: "\ea86";
@icon-ios-information-outline: "\ea87";
@icon-ios-ionic-outline: "\ea88";
@icon-ios-keypad: "\ea89";
@icon-ios-keypad-outline: "\ea8a";
@icon-ios-lightbulb: "\ea8b";
@icon-ios-lightbulb-outline: "\ea8c";
@icon-ios-list: "\ea8d";
@icon-ios-list-outline: "\ea8e";
@icon-ios-location: "\ea8f";
@icon-ios-location-outline: "\ea90";
@icon-ios-locked: "\ea91";
@icon-ios-locked-outline: "\ea92";
@icon-ios-loop: "\ea93";
@icon-ios-loop-strong: "\ea94";
@icon-ios-medical: "\ea95";
@icon-ios-medical-outline: "\ea96";
@icon-ios-medkit: "\ea97";
@icon-ios-medkit-outline: "\ea98";
@icon-ios-mic: "\ea99";
@icon-ios-mic-off: "\ea9a";
@icon-ios-mic-outline: "\ea9b";
@icon-ios-minus: "\ea9c";
@icon-ios-minus-empty: "\ea9d";
@icon-ios-minus-outline: "\ea9e";
@icon-ios-monitor: "\ea9f";
@icon-ios-monitor-outline: "\eaa0";
@icon-ios-moon: "\eaa1";
@icon-ios-moon-outline: "\eaa2";
@icon-ios-more: "\eaa3";
@icon-ios-more-outline: "\eaa4";
@icon-ios-musical-note: "\eaa5";
@icon-ios-musical-notes: "\eaa6";
@icon-ios-navigate: "\eaa7";
@icon-ios-navigate-outline: "\eaa8";
@icon-ios-nutrition: "\eaa9";
@icon-ios-nutrition-outline: "\eaaa";
@icon-ios-paper: "\eaab";
@icon-ios-paper-outline: "\eaac";
@icon-ios-paperplane: "\eaad";
@icon-ios-paperplane-outline: "\eaae";
@icon-ios-partlysunny: "\eaaf";
@icon-ios-partlysunny-outline: "\eab0";
@icon-ios-pause: "\eab1";
@icon-ios-pause-outline: "\eab2";
@icon-ios-paw: "\eab3";
@icon-ios-paw-outline: "\eab4";
@icon-ios-people: "\eab5";
@icon-ios-people-outline: "\eab6";
@icon-ios-person: "\eab7";
@icon-ios-personadd: "\eab8";
@icon-ios-personadd-outline: "\eab9";
@icon-ios-person-outline: "\eaba";
@icon-ios-photos: "\eabb";
@icon-ios-photos-outline: "\eabc";
@icon-ios-pie: "\eabd";
@icon-ios-pie-outline: "\eabe";
@icon-ios-pint: "\eabf";
@icon-ios-pint-outline: "\eac0";
@icon-ios-play: "\eac1";
@icon-ios-play-outline: "\eac2";
@icon-ios-plus: "\eac3";
@icon-ios-plus-empty: "\eac4";
@icon-ios-plus-outline: "\eac5";
@icon-ios-pricetag: "\eac6";
@icon-ios-pricetag-outline: "\eac7";
@icon-ios-pricetags: "\eac8";
@icon-ios-pricetags-outline: "\eac9";
@icon-ios-printer: "\eaca";
@icon-ios-printer-outline: "\eacb";
@icon-ios-pulse: "\eacc";
@icon-ios-pulse-strong: "\eacd";
@icon-ios-rainy: "\eace";
@icon-ios-rainy-outline: "\eacf";
@icon-ios-recording: "\ead0";
@icon-ios-recording-outline: "\ead1";
@icon-ios-redo: "\ead2";
@icon-ios-redo-outline: "\ead3";
@icon-ios-refresh: "\ead4";
@icon-ios-refresh-empty: "\ead5";
@icon-ios-refresh-outline: "\ead6";
@icon-ios-reload: "\ead7";
@icon-ios-reverse-camera: "\ead8";
@icon-ios-reverse-camera-outline: "\ead9";
@icon-ios-rewind: "\eada";
@icon-ios-rewind-outline: "\eadb";
@icon-ios-rose: "\eadc";
@icon-ios-rose-outline: "\eadd";
@icon-ios-search: "\eade";
@icon-ios-search-strong: "\eadf";
@icon-ios-settings: "\eae0";
@icon-ios-settings-strong: "\eae1";
@icon-ios-shuffle: "\eae2";
@icon-ios-shuffle-strong: "\eae3";
@icon-ios-skipbackward: "\eae4";
@icon-ios-skipbackward-outline: "\eae5";
@icon-ios-skipforward: "\eae6";
@icon-ios-skipforward-outline: "\eae7";
@icon-ios-snowy: "\eae8";
@icon-ios-speedometer: "\eae9";
@icon-ios-speedometer-outline: "\eaea";
@icon-ios-star: "\eaeb";
@icon-ios-star-half: "\eaec";
@icon-ios-star-outline: "\eaed";
@icon-ios-stopwatch: "\eaee";
@icon-ios-stopwatch-outline: "\eaef";
@icon-ios-sunny: "\eaf0";
@icon-ios-sunny-outline: "\eaf1";
@icon-ios-telephone: "\eaf2";
@icon-ios-telephone-outline: "\eaf3";
@icon-ios-tennisball: "\eaf4";
@icon-ios-tennisball-outline: "\eaf5";
@icon-ios-thunderstorm: "\eaf6";
@icon-ios-thunderstorm-outline: "\eaf7";
@icon-ios-time: "\eaf8";
@icon-ios-time-outline: "\eaf9";
@icon-ios-timer: "\eafa";
@icon-ios-timer-outline: "\eafb";
@icon-ios-toggle: "\eafc";
@icon-ios-toggle-outline: "\eafd";
@icon-ios-trash: "\eafe";
@icon-ios-trash-outline: "\eaff";
@icon-ios-undo: "\eb00";
@icon-ios-undo-outline: "\eb01";
@icon-ios-unlocked: "\eb02";
@icon-ios-unlocked-outline: "\eb03";
@icon-ios-upload: "\eb04";
@icon-ios-upload-outline: "\eb05";
@icon-ios-videocam: "\eb06";
@icon-ios-videocam-outline: "\eb07";
@icon-ios-volume-high: "\eb08";
@icon-ios-volume-low: "\eb09";
@icon-ios-wineglass: "\eb0a";
@icon-ios-wineglass-outline: "\eb0b";
@icon-ios-world: "\eb0c";
@icon-ios-world-outline: "\eb0d";
@icon-ipad: "\eb0e";
@icon-iphone: "\eb0f";
@icon-ipod: "\eb10";
@icon-jet: "\eb11";
@icon-key: "\eb12";
@icon-knife: "\eb13";
@icon-laptop: "\eb14";
@icon-leaf: "\eb15";
@icon-levels: "\eb16";
@icon-lightbulb: "\eb17";
@icon-link: "\eb18";
@icon-load-a: "\eb19";
@icon-load-b: "\eb1a";
@icon-load-c: "\eb1b";
@icon-load-d: "\eb1c";
@icon-location: "\eb1d";
@icon-lock-combination: "\eb1e";
@icon-locked: "\eb1f";
@icon-log-in: "\eb20";
@icon-log-out: "\eb21";
@icon-loop: "\eb22";
@icon-magnet: "\eb23";
@icon-male: "\eb24";
@icon-man: "\eb25";
@icon-map: "\eb26";
@icon-medkit: "\eb27";
@icon-merge: "\eb28";
@icon-mic-a: "\eb29";
@icon-mic-b: "\eb2a";
@icon-mic-c: "\eb2b";
@icon-minus: "\eb2c";
@icon-minus-circled: "\eb2d";
@icon-minus-round: "\eb2e";
@icon-model-s: "\eb2f";
@icon-monitor: "\eb30";
@icon-more: "\eb31";
@icon-mouse: "\eb32";
@icon-music-note: "\eb33";
@icon-navicon: "\eb34";
@icon-navicon-round: "\eb35";
@icon-navigate: "\eb36";
@icon-network: "\eb37";
@icon-no-smoking: "\eb38";
@icon-nuclear: "\eb39";
@icon-outlet: "\eb3a";
@icon-paintbrush: "\eb3b";
@icon-paintbucket: "\eb3c";
@icon-paper-airplane: "\eb3d";
@icon-paperclip: "\eb3e";
@icon-pause: "\eb3f";
@icon-person: "\eb40";
@icon-person-add: "\eb41";
@icon-person-stalker: "\eb42";
@icon-pie-graph: "\eb43";
@icon-pin: "\eb44";
@icon-pinpoint: "\eb45";
@icon-pizza: "\eb46";
@icon-plane: "\eb47";
@icon-planet: "\eb48";
@icon-play: "\eb49";
@icon-playstation: "\eb4a";
@icon-plus: "\eb4b";
@icon-plus-circled: "\eb4c";
@icon-plus-round: "\eb4d";
@icon-podium: "\eb4e";
@icon-pound: "\eb4f";
@icon-power: "\eb50";
@icon-pricetag: "\eb51";
@icon-pricetags: "\eb52";
@icon-printer: "\eb53";
@icon-pull-request: "\eb54";
@icon-qr-scanner: "\eb55";
@icon-quote: "\eb56";
@icon-radio-waves: "\eb57";
@icon-record: "\eb58";
@icon-refresh: "\eb59";
@icon-reply: "\eb5a";
@icon-reply-all: "\eb5b";
@icon-ribbon-a: "\eb5c";
@icon-ribbon-b: "\eb5d";
@icon-sad: "\eb5e";
@icon-sad-outline: "\eb5f";
@icon-scissors: "\eb60";
@icon-search: "\eb61";
@icon-settings: "\eb62";
@icon-share: "\eb63";
@icon-shuffle: "\eb64";
@icon-skip-backward: "\eb65";
@icon-skip-forward: "\eb66";
@icon-social-android: "\eb67";
@icon-social-android-outline: "\eb68";
@icon-social-angular: "\eb69";
@icon-social-angular-outline: "\eb6a";
@icon-social-apple: "\eb6b";
@icon-social-apple-outline: "\eb6c";
@icon-social-bitcoin: "\eb6d";
@icon-social-bitcoin-outline: "\eb6e";
@icon-social-buffer: "\eb6f";
@icon-social-buffer-outline: "\eb70";
@icon-social-codepen: "\eb71";
@icon-social-codepen-outline: "\eb72";
@icon-social-css3: "\eb73";
@icon-social-css3-outline: "\eb74";
@icon-social-designernews: "\eb75";
@icon-social-designernews-outline: "\eb76";
@icon-social-dribbble: "\eb77";
@icon-social-dribbble-outline: "\eb78";
@icon-social-dropbox: "\eb79";
@icon-social-dropbox-outline: "\eb7a";
@icon-social-euro: "\eb7b";
@icon-social-euro-outline: "\eb7c";
@icon-social-facebook: "\eb7d";
@icon-social-facebook-outline: "\eb7e";
@icon-social-foursquare: "\eb7f";
@icon-social-foursquare-outline: "\eb80";
@icon-social-freebsd-devil: "\eb81";
@icon-social-github: "\eb82";
@icon-social-github-outline: "\eb83";
@icon-social-google: "\eb84";
@icon-social-google-outline: "\eb85";
@icon-social-googleplus: "\eb86";
@icon-social-googleplus-outline: "\eb87";
@icon-social-hackernews: "\eb88";
@icon-social-hackernews-outline: "\eb89";
@icon-social-html5: "\eb8a";
@icon-social-html5-outline: "\eb8b";
@icon-social-chrome: "\eb8c";
@icon-social-chrome-outline: "\eb8d";
@icon-social-instagram: "\eb8e";
@icon-social-instagram-outline: "\eb8f";
@icon-social-javascript: "\eb90";
@icon-social-javascript-outline: "\eb91";
@icon-social-linkedin: "\eb92";
@icon-social-linkedin-outline: "\eb93";
@icon-social-markdown: "\eb94";
@icon-social-nodejs: "\eb95";
@icon-social-octocat: "\eb96";
@icon-social-pinterest: "\eb97";
@icon-social-pinterest-outline: "\eb98";
@icon-social-python: "\eb99";
@icon-social-reddit: "\eb9a";
@icon-social-reddit-outline: "\eb9b";
@icon-social-rss: "\eb9c";
@icon-social-rss-outline: "\eb9d";
@icon-social-sass: "\eb9e";
@icon-social-skype: "\eb9f";
@icon-social-skype-outline: "\eba0";
@icon-social-snapchat: "\eba1";
@icon-social-snapchat-outline: "\eba2";
@icon-social-tumblr: "\eba3";
@icon-social-tumblr-outline: "\eba4";
@icon-social-tux: "\eba5";
@icon-social-twitch: "\eba6";
@icon-social-twitch-outline: "\eba7";
@icon-social-twitter: "\eba8";
@icon-social-twitter-outline: "\eba9";
@icon-social-usd: "\ebaa";
@icon-social-usd-outline: "\ebab";
@icon-social-vimeo: "\ebac";
@icon-social-vimeo-outline: "\ebad";
@icon-social-whatsapp: "\ebae";
@icon-social-whatsapp-outline: "\ebaf";
@icon-social-windows: "\ebb0";
@icon-social-windows-outline: "\ebb1";
@icon-social-wordpress: "\ebb2";
@icon-social-wordpress-outline: "\ebb3";
@icon-social-yahoo: "\ebb4";
@icon-social-yahoo-outline: "\ebb5";
@icon-social-yen: "\ebb6";
@icon-social-yen-outline: "\ebb7";
@icon-social-youtube: "\ebb8";
@icon-social-youtube-outline: "\ebb9";
@icon-soup-can: "\ebba";
@icon-soup-can-outline: "\ebbb";
@icon-speakerphone: "\ebbc";
@icon-speedometer: "\ebbd";
@icon-spoon: "\ebbe";
@icon-star: "\ebbf";
@icon-stats-bars: "\ebc0";
@icon-steam: "\ebc1";
@icon-stop: "\ebc2";
@icon-thermometer: "\ebc3";
@icon-thumbsdown: "\ebc4";
@icon-thumbsup: "\ebc5";
@icon-toggle: "\ebc6";
@icon-toggle-filled: "\ebc7";
@icon-transgender: "\ebc8";
@icon-trash-a: "\ebc9";
@icon-trash-b: "\ebca";
@icon-trophy: "\ebcb";
@icon-tshirt: "\ebcc";
@icon-tshirt-outline: "\ebcd";
@icon-umbrella: "\ebce";
@icon-university: "\ebcf";
@icon-unlocked: "\ebd0";
@icon-upload: "\ebd1";
@icon-usb: "\ebd2";
@icon-videocamera: "\ebd3";
@icon-volume-high: "\ebd4";
@icon-volume-low: "\ebd5";
@icon-volume-medium: "\ebd6";
@icon-volume-mute: "\ebd7";
@icon-wand: "\ebd8";
@icon-waterdrop: "\ebd9";
@icon-wifi: "\ebda";
@icon-wineglass: "\ebdb";
@icon-woman: "\ebdc";
@icon-wrench: "\ebdd";
@icon-xbox: "\ebde";

